@model Loja.UI.Models.Acesso.LoginViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Loja.Bll.ClienteBll.ClienteBll clienteBll
@inject Loja.Bll.Bll.AcessoBll.UsuarioAcessoBll usuarioAcessoBll
@inject Loja.Bll.Util.Configuracao configuracao
@{
    ViewData["Title"] = "Login";
    ViewBag.PaginaDeLogin = true;
}


<br />
<br />
<br />
<br />
<br />

@{
    var usuarioLogado = new Loja.Bll.Bll.AcessoBll.UsuarioLogado(User, HttpContextAccessor.HttpContext.Session, clienteBll, usuarioAcessoBll, configuracao);
}
@if (usuarioLogado.SessaoDeslogadaForcado)
{
    <div>
        <span class="red-text">
            AVISO:
        </span>
        sua sessão foi encerrada porque foi feito login em outro computador ou em outro navegador. Somente é permitido um login ativo por vez.
        <br />
        Favor fazer o logout ao sair do terminal.
    </div>
}


@using (Html.BeginForm("LoginSubmit", "Acesso", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="container centered" style="line-height: initial;">
        @if (Model.AcessoNegado)
        {
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                    Acesso negado: o seu usuário não possui autorização para acessar essa página.
                    <br />
                    Faça o login como outro usuário ou entre em contato com o administrador do sistema.
                </div>
                <div class="col s4"></div>
            </div>
        }

        <div class="row">
            <div class="col s4"></div>
            <div class="input-field col s4">
                @*//o browser pode preenhcer o formulário autoamticamente
                    para resolver, tirei o label*@
                <div style="height:1em;">Loja</div>
                <br />
                <div>@Html.TextBoxFor(m => m.Loja, new { @class = "form-control active", autofocus = "true" })</div>
            </div>
            <div class="col s4"></div>
        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="input-field col s4">
                @*//o browser pode preenhcer o formulário autoamticamente
                    para resolver, tirei o label*@
                <div style="height:1em;">Nome do usuário</div>
                <br />
                <div>@Html.TextBoxFor(m => m.Apelido, new { @class = "form-control active" })</div>
            </div>
            <div class="col s4"></div>
        </div>
        <div class="row">
            <div class="col s4"></div>
            <div class="input-field col s4">
                <div style="height:1em;">Senha</div>
                <br />
                @{
                    var estilos = "";
                    if (Model.ErroUsuarioSenha)
                    {
                        estilos = " validate invalid";
                    }
                }
                @Html.PasswordFor(m => m.Senha, new { @class = "form-control active " + estilos })
                <span class="helper-text" data-error="Nome de usuário ou senha incorretos."></span>
            </div>
            <div class="col s4"></div>
        </div>

        <div class="row">
            <div class="col s4"></div>
            <div class="col s4 center">
                *No momento, apenas o usuário está sendo verificado.
            </div>
            <div class="col s4"></div>
        </div>
        @if (Model.PermitirManterConectado)
        {
            <div class="row">
                <div class="col s4"></div>
                <div class="input-field col s4 center">
                    <label>
                        @Html.CheckBoxFor(m => m.ManterConectado, new { @class = "filled-in " + estilos })
                        <span>Manter conectado</span>
                    </label>
                    @*espacador*@
                </div>
                <div class="col s4"></div>
            </div>
        }

        <div class="row">
            <div class="col s4"></div>
            <div class="col s4 center">
                <div style="height:3em;"> </div>
                <button class="waves-effect waves-light btn-small"
                        type="submit">
                    Enviar
                </button>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
}

