@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Loja.Bll.ClienteBll.ClienteBll clienteBll
@inject Loja.Bll.Bll.AcessoBll.UsuarioAcessoBll usuarioAcessoBll
@inject Loja.Bll.Util.Configuracao configuracao
@inject Microsoft.Extensions.Logging.ILogger<Loja.Bll.Bll.AcessoBll.UsuarioLogado> loggerUsuarioLogado
<!DOCTYPE html>

@* OBS:
    Consegui alterar a cor do navbar em "vertical_layout.min.js" alterarndo "HeaderBackground: "theme6","
    Podemos criar um theme em "style.css" para criar uma nova cor
*@

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja.UI</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/waves.min.css" media="all">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/font-awesome-n.min.css">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/switchery.min.css">

    <link rel="stylesheet" href="~/template_bootstrap/css/chartist.css" type="text/css" media="all">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/sweetalert.css">

    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/pages.css">
    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/widget.css">
    <link rel="stylesheet" type="text/css" href="~/template_bootstrap/toggle/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/meuteste.css">

    @*<link rel="stylesheet" href="~/template_bootstrap/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/bootstrap-multiselect.css" />
        <link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/multi-select.css" />*@
    @*<link rel="stylesheet" type="text/css" href="~/template_bootstrap/css/simple-line-icons.css">*@

    @* SCRIPTS *@
    <script type="text/javascript" src="~/template_bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/waves.min.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/modernizr.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/css-scrollbars.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/sweetalert.min.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/classie.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/modaleffects.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/chartist.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/amcharts.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/js/jquery.flot.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/jquery.flot.categories.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/curvedlines.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/jquery.flot.tooltip.min.js"></script>

    <script type="text/javascript" src="~/template_bootstrap/toggle/js/bootstrap4-toggle.min.js"></script>
    @*<script type="text/javascript" src="~/template_bootstrap/js/switchery.min.js"></script>*@

    <script type="text/javascript" src="~/template_bootstrap/js/serial.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/light.js"></script>

    @*<script type="text/javascript" src="~/template_bootstrap/js/jquery.steps.js"></script>*@

    @*<script type="text/javascript" src="~/template_bootstrap/js/form-wizard.js"></script>*@

    @*<script type="text/javascript" src="~/template_bootstrap/js/bootstrap-tagsinput.js"></script>
        <script type="text/javascript" src="~/template_bootstrap/js/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="~/template_bootstrap/js/bootstrap-maxlength.js"></script>*@
    @*<script type="text/javascript" src="~/template_bootstrap/js/swithces.js"></script>*@



    <script type="text/javascript" src="~/template_bootstrap/js/pcoded.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/vertical-layout.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/custom-dashboard.min.js"></script>
    <script type="text/javascript" src="~/template_bootstrap/js/script.min.js"></script>
    @*<script type="text/javascript" src="~/template_bootstrap/js/select2.full.min.js"></script>
        <script type="text/javascript" src="~/template_bootstrap/js/jquery.multi-select.js"></script>*@
    <script type="text/javascript" src="~/template_bootstrap/js/jquery.quicksearch.js"></script>
    @*<script type="text/javascript" src="~/template_bootstrap/js/select2-custom.js"></script>*@



    <script type="text/javascript" src="~/template_bootstrap/js/script.js"></script>
    <script src="~/template_bootstrap/js/rocket-loader.min.js" data-cf-settings="d28fd8086f5eb18f81d8672a-|49" defer=""></script>



    <script src="~/js/Util.js"></script>
    @RenderSection("ScriptsDiretos", required: false)

    <script src="~/lib/require.js"></script>
    @{
        string baseurl = "/scriptsJsMin";
#if DEBUG
        baseurl = "/scriptsJs";
#endif
    }
    <script>
                requirejs.config({
                    //baseUrl: '/jsts',
                    //baseUrl: '/jstsmin',
                    baseUrl: "@baseurl",
                    paths: {
                        jquery: '/template_bootstrap/js/jquery.min'
                    }
                });
                //requirejs(['app'], function (app) { });
    </script>
    @RenderSection("Scripts", required: false)


</head>

@{
    var usuarioLogado = new Loja.Bll.Bll.AcessoBll.UsuarioLogado(loggerUsuarioLogado, User, HttpContextAccessor.HttpContext.Session, clienteBll, usuarioAcessoBll, configuracao);
    var pathLogin = "/Acesso/Login";
    if (!usuarioLogado.SessaoAtiva)
    {
        var pathAtual = HttpContextAccessor?.HttpContext?.Request?.Path.Value?.ToLower() ?? "";
        if (!pathAtual.ToLower().Contains(pathLogin.ToLower()))
        {
            //vamos para o login e acabou!
            HttpContextAccessor.HttpContext.Response.Redirect(pathLogin);
        }
    }
}

<body>
    @*<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>*@


    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            @if (usuarioLogado.SessaoAtiva)
            {
                <nav class="navbar header-navbar pcoded-header" style="height:auto">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a href="@Url.Action("Index", "Home")" title="Home" class="show-on-medium-and-down">
                                <i class="fa fa-home" style="font-size:xx-large"></i>
                            </a>


                            <a class="mobile-menu" id="mobile-collapse" href="#!">
                                <i class="feather icon-menu icon-toggle-right"></i>
                            </a>
                            <a class="mobile-options waves-effect waves-light">
                                <i class="feather icon-menu icon-toggle-right"></i>
                            </a>
                        </div>
                        <div class="navbar-container container-fluid">
                            <ul class="nav-left">
                                @* Pesquisa *@
                                <li class="header-search">
                                    <div class="main-search morphsearch-search">
                                        <div class="input-group">
                                            <span class="input-group-prepend search-close">
                                                <i class="feather icon-x input-group-text"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Pesquisar">
                                            <span class="input-group-append search-btn">
                                                <i class="feather icon-search input-group-text"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                @* Maximiza tela *@
                                <li>
                                    <a href="#!" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" class="waves-effect waves-light" data-cf-modified-d2d1d6e2f87cbebdf4013b26-="">
                                        <i class="full-screen feather icon-maximize"></i>
                                    </a>
                                </li>
                            </ul>
                            <partial name="~/Views/Shared/Cabecalho.cshtml" model="usuarioLogado" />

                        </div>
                    </div>
                </nav>

            }
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    @if (usuarioLogado.SessaoAtiva)
                    {
                        <nav class="pcoded-navbar">
                            <div class="nav-list">
                                <div class="pcoded-inner-navbar main-menu">
                                    <partial name="~/Views/Shared/Menu.cshtml" model="usuarioLogado" />
                                </div>
                            </div>
                        </nav>
                    }

                    <div class="pcoded-content">
                        @RenderBody()


                    </div>
                    <div class="pcoded-content">
                        @RenderSection("RodapePagina", required: false)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/Error.cshtml" />

    <div id="styleSelector">
    </div>


    <style>




        .footer {
            background-color: #fff;
        }
    </style>




    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
        <script type="d2d1d6e2f87cbebdf4013b26-text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>*@
    <script src="~/template_bootstrap/js/rocket-loader.min.js" data-cf-settings="d2d1d6e2f87cbebdf4013b26-|49" defer=""></script>
    
</body>
</html>


