@model Loja.Bll.Bll.AcessoBll.UsuarioLogado
@{
    var usuarioLogado = Model;
}

<script>
    var url_chaverLoja = "@Url.Action("Index", "Home")";
    var url_buscarAvisosNaoLidos = "@Url.Action("BuscarAvisosNaoLidos", "Home")";
    var url_MarcarAvisoExibido = "@Url.Action("MarcarAvisoExibido", "Home")";
    var url_RemoverAvisos = "@Url.Action("RemoverAvisos", "Home")";
</script>


<style>
    .badge {
        min-width: 19px !important;
        width: auto !important;
    }

    #drop_avisos {
        height:800% !important;
        max-height: 800% !important;
    }
    #msgs{
        max-height:90% !important;
        overflow-y: scroll !important;
        padding:0 !important;
    }
    #msgs:hover{
        background-color:transparent !important;
    }

    .naoExibir{
        float:none !important;
    }

    #paragrafo-avisos {
        white-space: pre-line !important;
    }
</style>

@if (usuarioLogado.SessaoAtiva)
{

    <ul class="nav-right">
        @* troca rápido de loja *@
        <li class="header-notification">
            @if (usuarioLogado.SessaoAtiva)
            {
                @if (usuarioLogado.Operacao_permitida(Loja.Bll.Constantes.Constantes.OP_LJA_LOGIN_TROCA_RAPIDA_LOJA))
                {
                    var lista = usuarioLogado.LojasDisponiveis.OrderBy(r => r.Nome).ToList();
                    if (lista.Count > 0)
                    {
                        <div class="dropdown-primary dropdown">
                            @{
                                var listaSl = new List<SelectListItem>();
                                foreach (var item in lista)
                                {
                                    listaSl.Add(new SelectListItem(item.Nome, item.Id));
                                }
                                ViewData["cabecacomboLojas"] = usuarioLogado.Loja_atual_id;
                            }

                            @Html.DropDownList("cabecacomboLojas", listaSl, new
                            {
                                @id = "cabecacomboLojas",
                                @class = "custom-select",
                                @onchange = "AlterarLoja()"
                            })
                        </div>
                    }
                }
            }

        </li>
        @* Avisos *@
        <li class="header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" id="sininho">
                    <i class="feather icon-bell"></i>

                    <span class="badge bg-c-red" id="qtdeMsg"></span>
                </div>
                <ul id="drop_avisos" class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn">
                    <li id="msgs">
                        <ul id="lstAvisos">
                            <li>
                                <h6>Avisos</h6>
                                <label class="label label-danger">Novas</label>
                            </li>
                            @* aqui vai a lista de mensagens *@
                            <li class="linhas" id="itemMsg_" style="display:none">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="notification-time" id="divulgado_"></span>
                                        <p class="notification-msg" id="paragrafo-avisos"></p>
                                        <label class="naoExibir">
                                            <input type="checkbox" value="" id="chk_">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                            <span>Não exibir mais este aviso.</span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>                    
                </ul>
            </div>
        </li>
        @* Avatar e dropdown *@
        <li class="user-profile header-notification" data-toggle="tooltip" data-placement="left"
            title="" id="menu-usuario">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span class="avatar avatar-48 img-circle p-2" id="avatar"></span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="#!">
                            <i class="fa fa-lock"></i> Alterar senha
                        </a>
                    </li>
                    <li>
                        <a href="~/Acesso/Logout" data-toggle="tooltip" data-placement="bottom" title="Sair" style="vertical-align: text-bottom;">
                            <i class="feather icon-log-out" style="font-size:large"></i> Sair
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

}
else
{
    //não temos botão de login pq já está na pagina de login -
    //mas precisa para outras páginas, que eventualemte não tenham a proteção, como a home
    if (!(ViewBag.PaginaDeLogin ?? false))
    {
        <div class="right" style="margin-right: 10px">
            <a href="~/Acesso/Login" class="btn">Login</a>
        </div>
    }
}
<script>
    var usuarioLogado = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.Usuario_nome_atual).ToString(), true)))

    @*$(document).ready(function () {
        $('#cabecacomboLojas').change(function () {
            document.location = "@Url.Action("Index", "Home")/?novaloja=" + $('#cabecacomboLojas').val();
        });
    });*@

    requirejs(["Views/Shared/Cabecalho"], function (util) {

    });
</script>
