@model Loja.Bll.Bll.AcessoBll.UsuarioLogado

<style>
    .menudesabilitado {
        cursor: not-allowed;
    }
</style>

<ul class="pcoded-item pcoded-left-item">
    @*Pedidos*@
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Pedidos</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Análise de Pré Pedidos</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Cliente")" class="waves-effect waves-dark">Novo Pedido</a>
            </li>
            <li>
                <a href="@Url.Action("CancelamentoAutomatico", "Pedido")" class="waves-effect waves-dark"><span>Cancelamento Automático</span></a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Indicadores</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Consulta Pedido</a>
            </li>
            <li>
                @if (Loja.UI.Controllers.PrepedidoController.PermissaoPagina("Index", Model))
                {
                    <a href="@Url.Action("Index", "Prepedido")" class="waves-effect waves-dark"><span>Consulta Pré Pedido</span></a>
                }
                else
                {
                    <a class="menudesabilitado waves-effect waves-dark" href="#!">Consulta Pré Pedido</a>
                }
            </li>
        </ul>
    </li>
    @*Produtos*@
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Produtos</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a href="@Url.Action("Index", "Produtos")" class="waves-effect waves-dark">Consulta Lista de Preços</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Consulta Custo Financeiro</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Indicadores</a>
            </li>
        </ul>
    </li>
    @*Relatórios*@
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Relatórios</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <div class="input-field col s3">
                    <input id="pesquisa" type="text" />
                    <label for="pesquisa">Pesquisar</label>
                </div>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Pedidos Indicadores</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Faturamento</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Vendas</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Vendas com Desc. Superior</a>
            </li>
        </ul>
    </li>
    @*Site Colors*@
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">ERP</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "SiteColors")">Início do Colors</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="~/Acesso/Logout">Logout</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Faturamento</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Vendas</a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">Vendas com Desc. Superior</a>
            </li>
        </ul>
    </li>
</ul>



