@model Loja.Bll.Bll.AcessoBll.UsuarioLogado
@{
    var usuarioLogado = Model;
}
<style>
    .menudesabilitado {
        cursor: not-allowed;
    }
</style>

@* troca rápido de loja *@
@if (usuarioLogado.SessaoAtiva)
{
    @if (usuarioLogado.Operacao_permitida(Loja.Bll.Constantes.Constantes.OP_LJA_LOGIN_TROCA_RAPIDA_LOJA))
    {
        var lista = usuarioLogado.LojasDisponiveis.OrderBy(r => r.Nome).ToList();
        if (lista.Count > 0)
        {
            <ul class="pcoded-item pcoded-left-item">
                <li class="pcoded-hasmenu p-3">
                        @{
                            var listaSl = new List<SelectListItem>();
                            foreach (var item in lista)
                            {
                                listaSl.Add(new SelectListItem(item.Nome, item.Id));
                            }
                            ViewData["cabecacomboLojas"] = usuarioLogado.Loja_atual_id;
                        }

                        @Html.DropDownList("cabecacomboLojas", listaSl, new
                   {
                       @id = "cabecacomboLojas",
                       @class = "custom-select"

                   })
                </li>
            </ul>
        }
    }
}


@*Pedidos*@
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Pedidos</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Análise de Pré Pedidos</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Cliente")" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Novo Pedido</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("CancelamentoAutomatico", "Pedido")" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Cancelamento Automático</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Indicadores</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Consulta Pedido</span>
                </a>
            </li>
            <li>
                @if (Loja.UI.Controllers.PrepedidoController.PermissaoPagina("Index", Model))
                {
                    <a href="@Url.Action("Index", "Prepedido")" class="waves-effect waves-dark">
                        <span class="pcoded-mtext">Consulta Pré Pedido</span>
                    </a>
                }
                else
                {
                    <a class="menudesabilitado waves-effect waves-dark" href="#!">
                        <span class="pcoded-mtext">Consulta Pré Pedido</span>
                    </a>
                }
            </li>
        </ul>
    </li>
</ul>
@*Produtos*@
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Produtos</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a href="@Url.Action("Index", "Produtos")" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">Consulta Lista de Preços</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Consulta Custo Financeiro</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Indicadores</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
@*Relatórios*@
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">Relatórios</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <div class="input-field col s3">
                    <input id="pesquisa" type="text" />
                    <label for="pesquisa">Pesquisar</label>
                </div>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Pedidos Indicadores</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Faturamento</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Vendas</span>
                </a>
            </li>
            <li>
                <a class="menudesabilitado waves-effect waves-dark" href="#!">
                    <span class="pcoded-mtext">Vendas com Desc. Superior</span>
                </a>
            </li>
        </ul>
    </li>
    @*Site Colors*@
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
            <span class="pcoded-mtext">ERP</span>
        </a>
        <ul class="pcoded-submenu">
            <li>
                <a class="waves-effect waves-dark" href="@Url.Action("Index", "SiteColors")"><span style="color:green">Início do Colors</span></a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="@Loja.UI.Controllers.SiteColorsController.UrlAction(Url, Loja.UI.Controllers.SiteColorsController.ListaPaginasColors.Pedidos_com_Credito_Pendente)">
                    Pedidos com Crédito Pendente
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="@Loja.UI.Controllers.SiteColorsController.UrlAction(Url, Loja.UI.Controllers.SiteColorsController.ListaPaginasColors.Pedidos_com_Credito_Pendente_Vendas)">
                    Pedidos com Crédito Pendente Vendas
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="@Loja.UI.Controllers.SiteColorsController.UrlAction(Url, Loja.UI.Controllers.SiteColorsController.ListaPaginasColors.Pedidos_Pendentes_Cartao_de_Credito)">
                    Pedidos Pendentes Cartão de Crédito
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="@Loja.UI.Controllers.SiteColorsController.UrlAction(Url, Loja.UI.Controllers.SiteColorsController.ListaPaginasColors.Pedidos_com_Endereco_Pendente)">
                    Pedidos com Endereço Pendente
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" href="@Loja.UI.Controllers.SiteColorsController.UrlAction(Url, Loja.UI.Controllers.SiteColorsController.ListaPaginasColors.Pesquisa_pedidos_anteriormente_efetuados_por_um_cliente_nesta_loja)">
                    Pesquisa pedidos anteriormente efetuados por um cliente nesta loja
                </a>
            </li>
        </ul>
    </li>
</ul>


<script>
    $(document).ready(function () {
        var url = this.location.pathname;

        //TEMOS UM PROBLEMA NESSA ROTINA
        //Não podemos adicionar o pathname no localStorage ,
        //pois se utilizarmos 2 abas aberta o menu não irá funcionar da forma correta
        //NECESSÁRIO UTILIZAR OUTRA ABORDAGEM PARA ARMAZENAR
        //é o Home
        if (url == "/lojamvc" && url.length == 8) {
            window.localStorage.setItem("item_active", "");
            return;
        }

        var itemMenu = $('.main-menu').find("a[href='" + url + "']");
        var localStorage_itemMenu = "";

        if (itemMenu != undefined) {
            if (itemMenu.length > 0)
                window.localStorage.setItem("item_active", url);

            localStorage_itemMenu = window.localStorage.getItem("item_active");
            $('a[href="' + localStorage_itemMenu + '"]').parent().addClass('active');
            $('a[href="' + localStorage_itemMenu + '"]').closest(".pcoded-hasmenu").addClass('active');
            $('a[href="' + localStorage_itemMenu + '"]').closest(".pcoded-hasmenu").show();
            $('a[href="' + localStorage_itemMenu + '"]').closest(".pcoded-hasmenu").click();
        }
    });
</script>

