@model Loja.UI.Models.Prepedido.PrepedidoIndexViewModel
@{
    ViewData["Title"] = "Lista de pré-pedidos";
}


@section ScriptsDiretos{
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/lib/datatables-materialize/dataTables.materialize.css" />
    <script type="text/javascript" src="~/lib/datatables-materialize/dataTables.materialize.js"></script>
}

<partial name="~/Views/Shared/Datatables.cshtml" />

<h5>@ViewData["Title"]</h5>

@{
    //as colunas são variáveis...
    var colunaMoeda = 5;
    var colunaData = 3;
    if (!Model.ListaLojasViewModel.MostrarLoja)
    {
        colunaMoeda--;
        colunaData--;
    }
    if (!Model.ListaLojasViewModel.ConsultaUniversalPedidoOrcamento)
    {
        colunaMoeda--;
        colunaData--;
    }
}
<script>
    $(document).ready(function () {
        intiDatatables('#tabeladados', {
            columnDefs: [
                { type: "databr", targets: @colunaData },
                { type: "moeda", targets: @colunaMoeda }
            ],
            @* agrupamos por loja e Orçamentista, se forem exibidos *@
            orderFixed: [0, 'asc'],
                rowGroup: {
                    dataSrc: 0
                }
        });
    });

</script>


<div>

    @if (Model.ListaLojasViewModel.MostrarLoja)
    {
        Model.ListaLojasViewModel.NomeTabelaHtml = "tabeladados";
        Model.ListaLojasViewModel.NumeroColunaDaLoja = 0;
        <partial name="~/Views/Comuns/ListaLojas.cshtml" for="ListaLojasViewModel" />
    }

    @if (Model.ResumoPrepedidoListaDto.Itens.Count < 1)
    {
        <span>
            <br />
            <br />
            NENHUM PRÉ-PEDIDO.
        </span>
    }
    else
    {
        <table id="tabeladados">
            <thead>
                <tr>
                    @if (Model.ListaLojasViewModel.MostrarLoja)
                    {
                        <th>
                            Loja
                        </th>
                    }
                    @if (Model.ListaLojasViewModel.ConsultaUniversalPedidoOrcamento)
                    {
                        <th>
                            Orçamentista
                        </th>
                    }
                    <th>
                        Pré-Pedido
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th class="right-align">
                        VL Total
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model.ResumoPrepedidoListaDto.Itens)
                {
                    <tr>
                        @if (Model.ListaLojasViewModel.MostrarLoja)
                        {
                            <td>
                                @Model.ListaLojasViewModel.LojasDisponiveis.Where(r => r.Id == c.LojaId).FirstOrDefault().Nome
                            </td>
                        }
                        @if (Model.ListaLojasViewModel.ConsultaUniversalPedidoOrcamento)
                        {
                            <td>
                                @c.Orcamentista
                            </td>
                        }
                        <td>
                            @c.Prepedido
                        </td>
                        <td>
                            @(c.Data?.ToShortDateString())
                        </td>
                        <td>
                            @c.Cliente
                        </td>
                        <td class="right-align">
                            @Loja.Bll.Util.Util.FormataMoeda(c.VlTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

