@model Loja.UI.Models.Cliente.ClienteCadastroViewModel
@{
    ViewData["Title"] = "DadosCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Novo Pedido</h5>

@section ScriptsDiretos{
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>
}
<script>

    $(function () {
        

        $('#cepEntrega').mask("00000-000");
        $('#cep').mask("00000-000");
        $('#ie').mask("000.000.000.000");
        $('#telRes').mask("(00) 0000-0000");
        //$('#celular').mask("(00) 00000-0000");
        $('#celular').blur(function () {
            if ($('#celular').val().length == 14) {
                $('#celular').mask("(99) 9999-9999");
            }
            else {
                $('#celular').mask("(99) 99999-9999");
            }
        })

        $('#telCom').mask("(00) 0000-0000");
        //$('#telCom2').mask("(99) 9999-9999?9");

        $('#telCom2').blur(function () {
            if ($('#telCom2').val().length == 14) {
                $('#telCom2').mask("(99) 9999-9999");
            }
            else {
                $('#telCom2').mask("(99) 99999-9999");
            }
        })

        $('#addRefComercial').on('click', function () {

            var index = $('#index').val();

            if (index == undefined) {
                index = 0;
                $('#index').val(index);
            }

            var linha = "<div class='collapsible-body'>";
            linha += "<div class='row'>";
            linha += "<div class='input-field col s3'>";
            linha += "<input name='[" + index + "].Nome_Empresa' id='" + index + "-Nome_Empresa' type='text' class='validate' />";
            linha += "<label for='Nome_Empresa'>NOME DA EMPRESA</label>";
            linha += "</div>";
            linha += "<div class='input-field col s2'>";
            linha += "<input name='[" + index + "].Contato' id='" + index + "-Contato' type='text' class='validate'/>";
            linha += "<label for='Contato'>CONTATO</label>";
            linha += "</div>";
            linha += "<div class='input-field col s2'>";
            linha += "<input name='[" + index + "].Telefone' id='" + index + "-Telefone' type='text' class='validate' />";
            linha += "<label for='Telefone'>TELEFONE</label>";
            linha += "</div></div></div>";

            $('#collapsibleComercial li').append(linha);
            $('#' + index + '-Telefone').mask("(00) 0000-0000");
            $('#collapsibleComercial li').addClass('active');
            $('#collapsibleComercial').collapsible({ accordion: false });

            index++;
            $('#index').val(index);




        });

        //mascara de telefone para ref bancaria
        $("#0-telBanco").blur(function () {
            if ($('#0-telBanco').val().length == 14) {
                $('#0-telBanco').mask("(99) 9999-9999");
            }
            else {
                $('#0-telBanco').mask("(99) 99999-9999");
            }
        });


        $('#addRefBancaria').on('click', function () {
            if (!$("#RefBancariabody-0").is(":visible")) {
                $("#RefBancariabody-0").show();
                return;
            }

            MostrarMsg('#modalErro', 'Máximo de 1 referência bancária.')
            //alert("Máximo de 3 referências bancárias.");
        });

        if ($('#produtor').val() == "2")
            $('#ehProdutor').show();
        else
            $('#ehProdutor').hide();

        $('#produtor').change(function () {

            if ($('#produtor').val() == "2")
                $('#ehProdutor').show();
            else
                $('#ehProdutor').hide();
        });
        VerificaCampos();
    });

    function VerificaCampos() {

        if ($('#cepEntrega').val() != "") {
            $("#lblcep").addClass('active');
        }
        if ($('#ufEntrega').val() != "") {
            $("#lblUfEntrega").addClass('active');
        }
        if ($('#cidadeEntrega').val() != " ") {
            $("#lblCidadeEntrega").addClass('active');
        }
        if ($('#bairroEntrega').val() != "") {
            $('#bairroEntrega').prop("readonly", true);
            $("#lblBairroEntrega").addClass('active');
        }
        else {
            if ($('#bairroEntrega').css('readonly', true)) {
                $('#bairroEntrega').prop("readonly", false);
            }
        }
        if ($('#enderecoEntrega').val() != "") {
            $('#enderecoEntrega').prop("readonly", true);
            $("#lblEnderecoEntrega").addClass('active');
        }
        else {
            if ($('#enderecoEntrega').css("readonly", true)) {
                $('#enderecoEntrega').prop("readonly", false);
            }
        }
        if ($('#compEntrega').val() != "") {
            $("#lblComplementoEntrega").addClass('active');
        }
        if ($('#numEntrega').val() != "") {
            $('#lblNumeroEntrega').addClass('active');
        }

        if ($('#outro').prop('checked')) {
            mostraDiv('outro_endereco');
            $('#outro').prop('checked', true);
            $('#outro').val("true");
        }

        if ($('#justificativa').val() != "") {
            $('#justificativa').formSelect();
        }
        if ($('#indicador').val() != "") {
            $('#indicador').formSelect();
        }
    }

    function ValidarProdutorIcms(cpfCnpj) {
        var retorno = true;
        if (cpfCnpj.length == 11) {
            if ($('#produtor').val() == "") {
                //abrir modal de erro
                MostrarMsg('#modalErro', 'Informe se o cliente é produtor rural ou não!')
                retorno = false;
            }
            if ($('#produtor').val() != "1" && $('#produtor').val() != "2") {
                MostrarMsg('#modalErro', 'Informe se o cliente é produtor rural ou não!');
                retorno = false;
            }
            if ($('#produtor').val() == "2") {
                //contribuinte
                //1 = não / 2 = sim / 3 = isento
                debugger;
                if ($("#contribuinte").val() != "1" &&
                    $("#contribuinte").val() != "2" &&
                    $("#contribuinte").val() != "3") {
                    MostrarMsg('#modalErro', 'Informe se o cliente é contribuinte do ICMS, não contribuinte ou isento!');
                    retorno = false;
                }
                if ($("#contribuinte").val() == "1" &&
                    (!$('#ie').val() || $('#ie').val().trim() == "")) {
                    MostrarMsg('#modalErro', 'Se o cliente é contribuinte do ICMS a inscrição estadual deve ser preenchida!');
                    retorno = false;
                }
                if ($("#contribuinte").val() == "1" &&
                    $('#ie').val() &&
                    $('#ie').val().toUpperCase().indexOf("ISEN") >= 0) {
                    MostrarMsg('#modalErro', 'Se cliente é não contribuinte do ICMS, não pode ter o valor ISENTO no campo de Inscrição Estadual!');
                    retorno = false;
                }
                if ($("#contribuinte").val() == "2" &&
                    (!$('#ie').val() || $('#ie').val().toUpperCase().indexOf("ISEN") >= 0)) {
                    MostrarMsg('#modalErro', 'Se cliente é contribuinte do ICMS, não pode ter o valor ISENTO no campo de Inscrição Estadual!');
                    retorno = false;
                }
            }
        }
        else {
            var lblIe = $('#ie').val();
            //lblIe = StringUtils.retorna_so_digitos(lblIe);
            lblIe = lblIe.replace('.', '').replace('-', '').replace('/', '');
            debugger;
            if ($("#contribuinte").val() != "0" &&
                $("#contribuinte").val() != "1" &&
                $("#contribuinte").val() != "2" &&
                $("#contribuinte").val() != "3") {
                MostrarMsg('#modalErro', 'Informe se o cliente é contribuinte do ICMS, não contribuinte ou isento!');
                retorno = false;
            }
            if ($("#contribuinte").val() == "2" &&
                (lblIe.trim() == "undefined" || lblIe.trim() == "")) {
                MostrarMsg('#modalErro', 'Se o cliente é contribuinte do ICMS a inscrição estadual deve ser preenchida!');
                retorno = false;
            }
            if ($("#contribuinte").val() == "1" &&
                lblIe != "" && lblIe.trim() != "undefined") {
                if (!$.isNumeric(lblIe)) {
                    if (lblIe.toUpperCase().indexOf("ISEN") >= 0) {
                        MostrarMsg('#modalErro', 'Se cliente é não contribuinte do ICMS, não pode ter o valor ISENTO no campo de Inscrição Estadual!');
                        retorno = false;
                    }
                }
            }
            if ($("#contribuinte").val() == "2" &&
                lblIe != "" && lblIe.trim() != "undefined") {
                if (!$.isNumeric(lblIe)) {
                    if (lblIe.toUpperCase().indexOf("ISEN") >= 0) {
                        MostrarMsg('#modalErro', 'Se cliente é contribuinte do ICMS, não pode ter o valor ISENTO no campo de Inscrição Estadual!');
                        retorno = false;
                    }
                }
            }
        }

        if (cpfCnpj.length == 11) {
            if ($('#produtor').val() && $('#produtor').val() != "1") {
                if ($("#contribuinte").val() == "3") {
                    if ($('#ie').val() && $('#ie').val().trim() != "") {
                        MostrarMsg('#modalErro', "Se o Contribuinte ICMS é isento, o campo IE deve ser vazio!");
                        retorno = false;
                    }
                }
            }
        }
        else {
            if ($("#contribuinte").val() == "3") {
                if ($('#ie').text() && $('#ie').text().trim() != "") {
                    MostrarMsg('#modalErro', "Se o Contribuinte ICMS é isento, o campo IE deve ser vazio!");
                    retorno = false;
                }
            }
        }

        return retorno
    }

    function ValidarEnderecoEntrega() {
        if (!$('#cepEntrega').val() ||
            $('#ufEntrega').val() === "" ||
            $('#cidadeEntrega').val() === "") {
            MostrarMsg('#modalErro', "Caso seja selecionado outro endereço, informe um CEP válido!");
            return false;
        }
        if ($('#enderecoEntrega').val() === "") {
            MostrarMsg('#modalErro', "Caso seja selecionado outro endereço, informe um endereço!");
            return false;
        }
        if ($('#justificativa').val() === "") {
            MostrarMsg('#modalErro', "Caso seja selecionado outro endereço, selecione a justificativa do endereço de entrega!");
            return false;
        }
        if ($('#numEntrega').val() === "") {
            MostrarMsg('#modalErro', "Caso seja selecionado outro endereço, preencha o número do endereço de entrega!");
            return false;
        }
    }


    function ValidarFormulario() {
        //verificar se é PJ ou PF

        var cpfCnpj;
        if ($('#permiteEditar').val() == "True") {
            debugger;
            //cnpj = 14
            //cpf = 11
            cpfCnpj = $('#cpf_cnpj').val().replace(/[\.\/\- ,]/g, '');
            if (cpfCnpj.length == 11) {
                //validar campos de cadastro
                if ($('#cpf_cnpj').val() == '') {
                    msg = "Favor informar CPF ou CNPJ";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#nome").val() == '') {
                    msg = "Favor informar Nome do cliente";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#rg").val() == '') {
                    msg = "Favor informar RG";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#nascimento").val() == '') {
                    msg = "Favor informar Nascimento";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#sexo").val() == '') {
                    msg = "Favor informar Sexo";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }                
                if ($("#telRes").val() == '' &&
                    $("#celular").val() == '' &&
                    $("#telCom").val() == '') {
                    msg = "Favor informar preencher ao menos um número de telefone!";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#email").val() == '') {
                    msg = "Favor informar E-mail!";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
            }
            if (cpfCnpj.length == 14) {
                if ($("#razao").val() == '') {
                    msg = "Favor informar Razão Social!";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#cpf_cnpj").val() == '') {
                    msg = "Favor informar CNPJ!";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#telRes").val() == '' &&
                    $("#celular").val() == '' &&
                    $("#telCom").val() == '') {
                    msg = "Favor informar ao menos um número de telefone!";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
            }
            if ($("#cep").val() == '') {
                    msg = "Favor informar Cep";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#endereco").val() == '') {
                    msg = "Favor informar Endereco";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#numero").val() == '') {
                    msg = "Favor informar Número";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#bairro").val() == '') {
                    msg = "Favor informar Bairro";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#cidade").val() == '') {
                    msg = "Favor informar Cidade";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }
                if ($("#uf").val() == '') {
                    msg = "Favor informar UF";
                    MostrarMsg("#modalErro", msg);
                    return false;
                }

        }
        else {
            //cpfCnpj = StringUtils.retorna_so_digitos($('#cpf_cnpj').text());
            cpfCnpj = $('#cpf_cnpj').text().replace('.', '').replace('/', '');;
        }

        var msg;
        var validou;
        //verificar se é produtor rural
        //1 = Não / 2 = sim
        validou = ValidarProdutorIcms(cpfCnpj);

        if (validou) {
            //se estiver tudo ok seguimos
            if (!$('#indicador').val() || $('#indicador').val() == "undefined" || $('#indicador').val() == "0") {
                msg = "Favor selecionar um indicador";
                MostrarMsg("#modalErro", msg);
                return false;
            }
            if ($('#outro').prop("checked")) {
                //verifica se o endereço de entrega esta preenchido
                $('#outro').val("true");
                validou = ValidarEnderecoEntrega();
            }
        }
        return validou;
    }

    function MostrarMsg(modal, msg) {

        testeModal(modal);
        $('#teste').empty().append(msg);
    }
    function DigitouCepCadastro() {
        if ($('#cep').val() != null) {
            //$('#naoseicep').addClass('pulse');

            debugger;
            $.ajax({
                url: "../Cep/BuscarCep/",
                type: "GET",
                data: { cep: $('#cep').val() },
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data[0].Endereco != "") {
                        $('#endereco').prop("readonly", true);
                        $("#endereco").val(data[0].Endereco);
                        $("#lbEntrega").addClass('active');
                    }
                    else {
                        $('#enderecoEntrega').prop("readonly", false);
                    }

                    if (data[0].Bairro != "") {
                        $("#bairro").prop("readonly", true);
                        $("#bairro").val(data[0].Bairro);
                        $("#lblBairro").addClass('active');
                    }
                    else {
                        $("#bairro").prop("readonly", false);
                    }

                    if (data[0].Cidade != "") {
                        $("#cidade").prop("readonly", true);
                        $("#cidade").val(data[0].Cidade);
                        $("#lblCidade").addClass('active');
                    }
                    else {
                        $("#cidade").prop("readonly", false);
                    }

                    if (data[0].Uf != "") {
                        $("#uf").prop("readonly", true);
                        $("#uf").val(data[0].Uf);
                        $("#lblUf").addClass('active');
                    }
                    else {
                        $("#uf").prop("readonly", false);
                    }

                    if (data[0].logradouroComplemento != "" &&
                        data[0].logradouroComplemento != 'undefined' &&
                        data[0].logradouroComplemento != null) {

                        $('#complemento').val(data[0].LogradouroComplemento);
                        $('#lblComplemento').addClass('active');
                    }
                    $("#numero").val('');
                    $("#complemento").val('');
                    //$('#naoseicep').removeClass('pulse');
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }

</script>

<div class="col s12" style="margin-left:5%">

    @using (Html.BeginForm("CadastrarCliente", "Cliente", FormMethod.Post,
new { enctype = "multipart/form-data", onsubmit = "return ValidarFormulario()" }))
    {
        <div class="row col s12"></div>
        //afazer: Será necessário trazer uma flag do servidor para verificar se o usuário pode alterar os dados do cliente
        <input type="hidden" id="permiteEditar" name="permiteEditar" value="@Model.PermiteEdicao.ToString()" />
        <input type="hidden" id="tipo" name="tipo" value="@Model.DadosCliente.Tipo" />

        @if (Model.PermiteEdicao)//adicionar uma flag para dizer se é novo
        {
            //Permite edição PF
            @if (Model.DadosCliente?.Tipo == "PF")
            {
                <div class="row">
                    <div class="input-field col s12">
                        <input name="nome" id="nome" type="text"  value="@Model.DadosCliente?.Nome" />
                        <label for="ie">NOME</label>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="input-field col s3">
                        <input name="Cnpj_Cpf" id="cpf_cnpj" type="text"  value="@Model.DadosCliente?.Cnpj_Cpf" />
                        <label for="cpf_cnpj">CPF</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="rg" id="rg" type="text"  value="@Model.DadosCliente?.Rg" />
                        <label for="rg">RG</label>
                    </div>
                    <div class="input-field col s2">
                        <input name="nascimento" style="line-height:initial;"
                               id="nascimento" type="date"
                               value="@Model.DadosCliente?.Nascimento?.ToString("yyyy-MM-dd")" />
                        <label for="nascimento">NASCIMENTO</label>
                    </div>
                    <div class="input-field col s1">
                        <input name="sexo" id="sexo" type="text"  value="@Model.DadosCliente?.Sexo" />
                        <label for="sexo">SEXO</label>
                    </div>
                </div>
            }
            else
            {
                <div class="row col s12">
                    <div class="input-field col s12">
                        <input name="nome" id="razao" type="text"  value="@Model.DadosCliente.Nome" />
                        <label for="razao">RAZÃO SOCIAL</label>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="input-field col s3">
                        <input name="Cnpj_Cpf" id="cpf_cnpj" type="text"  value="@Model.DadosCliente.Cnpj_Cpf" />
                        <label for="cpf_cnpj">CNPJ</label>
                    </div>
                </div>
            }
            //Endereço
            <div class="row col s12">
                <div class="input-field col s2">
                    @* ao sair do campo chamar o metodo cep/buscarCep/ *@
                    <input name="cep" type="text" id="cep" class="validate"  onblur="DigitouCepCadastro()" value="@Model.DadosCliente?.Cep" />
                    <label for="cep">CEP</label>
                </div>
                <div class="input-field col s4">
                    <input name="endereco" id="endereco" type="text"  value="@Model.DadosCliente?.Endereco" />
                    <label for="endereco" id="lbEntrega">ENDEREÇO </label>
                </div>
                <div class="input-field col s2">
                    <input name="numero" id="numero" type="text"  value="@Model.DadosCliente?.Numero" />
                    <label for="numero">NÚMERO </label>
                </div>
                <div class="input-field col s2">
                    <input name="complemento" id="complemento" type="text"  value="@Model.DadosCliente?.Complemento" />
                    <label for="complemento" id="lblComplemento">COMPLEMENTO</label>
                </div>
            </div>
            <div class="row col s12">
                <div class="input-field col s3">
                    <input name="bairro" id="bairro" type="text"  value="@Model.DadosCliente?.Bairro" />
                    <label for="bairro" id="lblBairro">BAIRRO</label>
                </div>
                <div class="input-field col s3">
                    <input name="cidade" id="cidade" type="text"  value="@Model.DadosCliente?.Cidade" />
                    <label for="cidade" id="lblCidade">CIDADE</label>
                </div>
                <div class="input-field col s3">
                    <input name="uf" id="uf" type="text"  value="@Model.DadosCliente?.Uf" />
                    <label for="uf" id="lblUf">UF</label>
                </div>
            </div>
            //Permite edição PF
            //Telefones
            @if (Model.DadosCliente?.Tipo == "PF")
            {
                <div class="row col s12">
                    <div class="input-field col s3">
                        <input name="TelefoneResidencial" id="telRes" type="tel"  value="@Model.DadosCliente?.TelefoneResidencial" />
                        <label for="telRes">FONE RESIDENCIAL</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="Celular" id="celular" type="tel"  value="@Model.DadosCliente?.Celular" />
                        <label for="celular">CELULAR</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="TelComercial" id="telCom" type="tel"  value="@Model.DadosCliente?.TelComercial" />
                        <label for="telCom">FONE COMERCIAL</label>
                    </div>
                    <div class="input-field col s1">
                        <input name="Ramal" id="ramal" type="tel"  value="@Model.DadosCliente?.Ramal" />
                        <label for="ramal">RAMAL</label>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="input-field col s12">
                        <input name="Observacao_Filiacao" id="observacoes" type="text" value="@Model.DadosCliente?.Observacao_Filiacao" />
                        <label for="observacoes">OBSERVAÇÕES</label>
                    </div>
                </div>
            }
            else
            {
                //aqui vai o PJ
                <div class="row col s12">
                    <div class="input-field col s3">
                        <input name="telComercial" id="telCom" type="tel" class="validate" value="@Model.DadosCliente?.TelComercial" />
                        <label for="telCom">TELEFONE 1</label>
                    </div>
                    <div class="input-field col s1">
                        <input name="ramal" id="ramal" type="text" class="validate" value="@Model.DadosCliente?.Ramal" />
                        <label for="ramal">RAMAL</label>
                    </div>
                    <div class="input-field col s3">
                        <input name="telComercial2" id="telCom2" type="tel" class="validate" value="@Model.DadosCliente?.TelComercial2" />
                        <label for="telCom2">TELEFONE 2</label>
                    </div>
                    <div class="input-field col s1">
                        <input name="ramal2" id="ramal2" type="text" value="@Model.DadosCliente?.Ramal2" />
                        <label for="ramal2">RAMAL</label>
                    </div>
                </div>
                <div class="row col s12">
                    <div class="input-field">
                        <input name="contato" id="contatoNaEmpresa" type="text" value="@Model.DadosCliente?.Contato" />
                        <label for="contatoNaEmpresa">NOME DA PESSOA NA EMPRESA</label>
                    </div>
                </div>
            }
            //Email
            <div class="row col s12">
                <div class="input-field col s12">
                    <input name="email" id="email" type="email"  value="@Model.DadosCliente?.Email" />
                    <label for="email">E-MAIL</label>
                </div>
            </div>
            //Email xml
            <div class="row col s12">
                <div class="input-field col s12">
                    <input name="emailXml" id="emailXml" type="email"  value="@Model.DadosCliente?.EmailXml" />
                    <label for="emailXml">E-MAIL (XML)</label>
                </div>
            </div>

            @if (Model.DadosCliente?.Tipo == "PF")
            {
                <div class="row col s12">
                    <div class="input-field col s2">
                        @Html.DropDownList("ProdutorRural",
new SelectList(Model.LstProdutoRural, "Value", "Text",
Model.DadosCliente?.ProdutorRural), new { @id = "produtor", @name = "ProdutorRural" })
                        <label>PRODUTO RURAL</label>
                    </div>
                    <div id="ehProdutor">
                        <div class="input-field col s2">
                            <input name="ie" id="ie" type="text"  value="@Model.DadosCliente?.Ie" />
                            <label id="lblIe" for="ie">IE</label>
                        </div>
                        <div class="input-field col s2">
                            @Html.DropDownList("Contribuinte_Icms_Status",
new SelectList(Model.LstContribuinte, "Value", "Text",
Model.DadosCliente?.Contribuinte_Icms_Status), new { @id = "contribuinte", @name = "Contribuinte_Icms_Status" })
                            <label>CONTRIBUINTE ICMS</label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row col s12">
                    <div class="input-field col s3">
                        <input name="ie" id="ie" type="text"  value="@Model.DadosCliente?.Ie" />
                        <label for="ie">IE</label>
                    </div>
                    <div class="input-field col s3">
                        @Html.DropDownList("Contribuinte_Icms_Status",
new SelectList(Model.LstContribuinte, "Value", "Text",
Model.DadosCliente?.Contribuinte_Icms_Status), new { @id = "contribuinte", @name = "Contribuinte_Icms_Status" })
                        <label>CONTRIBUINTE ICMS</label>
                    </div>
                </div>
                //referencias permite edição
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <ul class="collapsible" id="collapsibleBancaria" style="border-radius:4px">
                                <li>
                                    <div class="collapsible-header" style="color:black!important;border-radius:4px">
                                        Referências Bancárias (@Model.RefBancaria?.Count)

                                    </div>
                                    <div class="collapsible-body">
                                        @{
                                            var indice = 0;
                                            @*@if (Model.RefBancaria.Count > 0)
                                                {*@
                                            <div>
                                                <div class="row">
                                                    <a class="btn-flat right" id="addRefBancaria" style="color:black !important;">
                                                        <i class="material-icons right">add</i>
                                                        Adicionar Referência
                                                    </a>
                                                </div>
                                            </div>
                                            while (Model.RefBancaria?.Count < 3)
                                            {
                                                Model.RefBancaria.Add(new Loja.Bll.Dto.ClienteDto.RefBancariaDtoCliente());
                                            }
                                            @foreach (var r in Model.RefBancaria)
                                            {
                                                string visible = "display: none;";
                                                if (!String.IsNullOrWhiteSpace(r.ContaBanco))
                                                {
                                                    visible = "";
                                                }
                                                <div class="row" id="RefBancariabody-@indice" style="@visible">
                                                    <div class="row">
                                                        @* aqui vai um select com a lista de bancos *@
                                                        <div class="input-field col s3">
                                                            @Html.DropDownList("[" + indice + "].Banco",
                                new SelectList(Model.LstComboBanco, "Value", "Text",
                               r.Banco), new { @id = "banco", @name = "[" + indice + "].BancoDescricao" })
                                                            <label>BANCO</label>
                                                        </div>
                                                        @*<div class="input-field col s2">
                                                                <input name="[@indice].BancoDescricao" id="@indice-banco" type="text"  value="@r.BancoDescricao" />
                                                                <label for="banco">BANCO</label>
                                                            </div>*@
                                                        <div class="input-field col s2">
                                                            <input name="[@indice].ContaBanco" id="@indice-conta" type="text"  value="@r.ContaBanco" />
                                                            <label for="conta">CONTA</label>
                                                        </div>
                                                        <div class="input-field col s2">
                                                            <input name="[@indice].TelefoneBanco" id="@indice-telBanco" type="text"  value="@r.TelefoneBanco" />
                                                            <label for="telBanco">TELEFONE</label>
                                                        </div>
                                                        <div class="input-field col s2">
                                                            <input name="[@indice].Agencia" id="@indice-agencia" type="text"  value="@r.Agencia" />
                                                            <label for="agencia">AGÊNCIA</label>
                                                        </div>
                                                        <div class="input-field col s2">
                                                            <input name="[@indice].ContatoBanco" id="@indice-contatoBanco" type="text"  value="@r.ContatoBanco" />
                                                            <label for="contatoBanco">CONTATO</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                indice++;
                                            }
                                            @*}
                                                else
                                                {
                                                    <div class="collapsible-body" id="collapsible-body">
                                                        <div class="row">
                                                            <a class="btn-flat right" id="addRefBancaria" style="color:black !important;">
                                                                <i class="material-icons right">add</i>
                                                                Adicionar Referência
                                                            </a>
                                                        </div>
                                                    </div>
                                                }*@
                                            <input type="hidden" id="indice" value="@indice" />
                                        }
                                    </div>
                                </li>

                            </ul>
                            <ul class="collapsible" id="collapsibleComercial" style="border-radius:4px">
                                <li>
                                    <div class="collapsible-header" style="color:black!important">Referências Comerciais (@Model.RefComercial?.Count)</div>
                                    @{
                                        var index = 0;
                                        @if (Model.RefComercial?.Count > 0)
                                        {
                                            <div class="collapsible-body" id="collapsible-body">
                                                <div class="row">
                                                    <a class="btn-flat right" id="addRefComercial" style="color:black !important;">
                                                        <i class="material-icons right">add</i>
                                                        Adicionar Referência
                                                    </a>
                                                </div>
                                            </div>

                                            @foreach (var r in Model.RefComercial)
                                            {
                                                <div class="collapsible-body">
                                                    <div class="row">
                                                        <div class="input-field col s3">
                                                            <input name="[@index].Nome_Empresa" id="@index-Nome_Empresa" type="text"  value="@r.Nome_Empresa" />
                                                            <label for="Nome_Empresa">NOME DA EMPRESA</label>
                                                        </div>
                                                        <div class="input-field col s2">
                                                            <input name="[@index].Contato" id="@index-Contato" type="text"  value="@r.Contato" />
                                                            <label for="Contato">CONTATO</label>
                                                        </div>
                                                        <div class="input-field col s2">
                                                            <input name="[@index].Telefone" id="@index-Telefone" type="text"  value="@r.Telefone" />
                                                            <label for="Telefone">TELEFONE</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                index++;
                                            }
                                            <input type="hidden" id="index" value="@index" />
                                        }
                                        else
                                        {
                                            <div class="collapsible-body" id="collapsible-body">
                                                <div class="row">
                                                    <a class="btn-flat right" id="addRefComercial" style="color:black !important;">
                                                        <i class="material-icons right">add</i>
                                                        Adicionar Referência
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @if (Model.DadosCliente.Tipo == "PF")
            {
                //Não permite edição PF
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">Nome:</span>
                            <span class="dado" name="nome" id="nome"> @Model.DadosCliente.Nome</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            @*<input name="cpf_cnpj" value="@Model.DadosCliente.Cnpj_Cpf"/>*@
                            <span class="rotulo">CPF:</span>
                            <span class="dado" id="cpf_cnpj">@Model.DadosCliente.Cnpj_Cpf</span>
                        </span>
                        <span class="caixa">
                            <span class="rotulo">RG:</span>
                            <span class="dado" name="rg" id="rg">@Model.DadosCliente.Rg</span>
                        </span>
                        <span class="caixa">
                            <span class="rotulo">Nascimento:</span>
                            <span class="dado" id="nascimento" name="nascimento">@Model.DadosCliente.Nascimento?.ToString("dd/MM/yyyy")</span>
                        </span>
                        <span class="caixa">
                            <span class="rotulo">Sexo:</span>
                            <span class="dado" id="sexo" name="sexo">@Model.DadosCliente.Sexo</span>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">Razão Social:</span>
                            <span class="dado" name="razao" id="nome"> @Model.DadosCliente.Nome</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">CNPJ:</span>
                            <span class="dado" name="cpf_cnpj" id="cpf_cnpj"> @Model.DadosCliente.Cnpj_Cpf</span>
                        </span>
                    </div>
                </div>
            }
            @* Endereço *@
            <div class="row">
                <div class="col s12">
                    <span class="caixa">
                        <span class="rotulo">Endereço:</span>
                        <span class="dado" id="endereco" name="endereco">
                            @Model.DadosCliente?.Endereco,
                            @Model.DadosCliente?.Numero
                            @if (!String.IsNullOrEmpty(Model.DadosCliente?.Complemento))
                                @Model.DadosCliente?.Complemento
                            - @Model.DadosCliente?.Bairro
                            - @Model.DadosCliente?.Cidade
                            - @Model.DadosCliente?.Uf
                            - @Model.DadosCliente?.Cep
                        </span>@*formatar o endereço*@
                    </span>
                </div>
            </div>

            @* Telefones *@
            <div class="row">
                <div class="col s12">
                    <span class="caixa">
                        <span class="rotulo">Telefones:</span>
                        @if (!String.IsNullOrEmpty(Model.DadosCliente.DddResidencial) &&
!String.IsNullOrEmpty(Model.DadosCliente.TelefoneResidencial))
                        {
                            <span id="dddRes" name="dddRes" style="visibility:hidden">@Model.DadosCliente.DddResidencial</span>
                            <span class="dado" id="telRes" name="telRes">@Model.DadosCliente.TelefoneResidencial</span>
                        }
                        @if (!String.IsNullOrEmpty(Model.DadosCliente.DddCelular) &&
!String.IsNullOrEmpty(Model.DadosCliente.Celular))
                        {
                            <span id="dddCelular" name="dddCel" style="visibility:hidden">@Model.DadosCliente.DddCelular</span>
                            <span class="dado" name="telCel" id="telCelular">@Model.DadosCliente.Celular</span>
                        }
                        @if (!String.IsNullOrEmpty(Model.DadosCliente.DddComercial) &&
!String.IsNullOrEmpty(Model.DadosCliente.TelComercial))
                        {
                            <span id="dddComercial" name="dddCom" style="visibility:hidden">@Model.DadosCliente.DddComercial</span>
                            <span class="dado" id="telComercial" name="telCom">@Model.DadosCliente.TelComercial</span>
                        }
                        @if (!String.IsNullOrEmpty(Model.DadosCliente.DddComercial2) &&
!String.IsNullOrEmpty(Model.DadosCliente.TelComercial2))
                        {
                            <span id="dddComercial2" name="dddCom2" style="visibility:hidden">@Model.DadosCliente.DddComercial2</span>
                            <span class="dado" id="telComercial2" name="telCom2">@Model.DadosCliente.TelComercial2</span>
                        }
                    </span>
                </div>
            </div>
            @if (Model.DadosCliente?.Tipo == "PF")
            {
                @* Observações *@
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">Observações:</span>
                            <span class="dado" id="observacoes" name="observacoes">@Model.DadosCliente.Observacao_Filiacao</span>
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">Nome da pessoa para contato na empresa:</span>
                            <span class="dado" id="contatoEmpresa" name="contato">@Model.DadosCliente.Contato</span>
                        </span>
                    </div>
                </div>
            }
            @* E-mail *@
            <div class="row">
                <div class="col s12">
                    <span class="caixa">
                        <span class="rotulo">Email:</span>
                        <span class="dado" id="email" name="email">@Model.DadosCliente.Email</span>
                    </span>
                </div>
            </div>
            @* E-mailXml *@
            <div class="row">
                <div class="col s12">
                    <span class="caixa">
                        <span class="rotulo">Email (xml):</span>
                        <span class="dado" id="emailXml" name="emailXml">@Model.DadosCliente.EmailXml</span>
                    </span>
                </div>
            </div>

            @if (Model.DadosCliente?.Tipo == "PF")
            {
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s2">
                            @Html.DropDownList("ProdutorRural",
    new SelectList(Model.LstProdutoRural, "Value", "Text",
    Model.DadosCliente?.ProdutorRural), new { @id = "produtor" })
                            <label>PRODUTO RURAL</label>
                        </div>
                        <div id="ehProdutor">
                            <div class="input-field col s2">
                                <input name="ie" id="ie" type="text"  value="@Model.DadosCliente?.Ie" />
                                <label id="lblIe" for="ie">IE</label>
                            </div>
                            <div class="input-field col s2">
                                @Html.DropDownList("Contribuinte_Icms_Status",
    new SelectList(Model.LstContribuinte, "Value", "Text",
    Model.DadosCliente?.Contribuinte_Icms_Status), new { @id = "contribuinte" })
                                <label>CONTRIBUINTE ICMS</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col s12">
                        <span class="caixa">
                            <span class="rotulo">IE:</span>
                            <span class="dado" id="ie" name="ie">@Model.DadosCliente.Ie</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s4">
                            @Html.DropDownList("Contribuinte_Icms_Status",
    new SelectList(Model.LstContribuinte, "Value", "Text",
    Model.DadosCliente.Contribuinte_Icms_Status), new { @id = "contribuinte" })
                            <label>CONTRIBUINTE ICMS</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <div class="input-field">
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header" style="color:black!important">Referências Bancárias (@Model.RefBancaria.Count)</div>
                                    @foreach (var r in Model.RefBancaria)
                                    {<div class="collapsible-body">
                                            <span class="caixa">
                                                <span class="rotulo">Banco: </span>
                                                <span class="dado">@r.BancoDescricao </span>
                                            </span>
                                            <span class="caixa">
                                                <span class="rotulo">Agência: </span>
                                                <span class="dado">@r.Agencia</span>
                                            </span>
                                            <span class="caixa">
                                                <span class="rotulo">Conta: </span>
                                                <span class="dado">@r.ContaBanco </span>
                                            </span>
                                            <span class="caixa">
                                                <span class="rotulo">Telefone: </span>
                                                <span class="dado">@r.TelefoneBanco</span>
                                            </span>
                                        </div>
                                    }
                                </li>
                                <li>
                                    <div class="collapsible-header" style="color:black!important">Referências Comerciais (@Model.RefComercial.Count)</div>
                                    @foreach (var r in Model.RefComercial)
                                    {
                                        <div class="collapsible-body">
                                            <span class="caixa">
                                                <span class="rotulo">Empresa: </span>
                                                <span class="dado">@r.Nome_Empresa </span>
                                            </span>
                                            <span class="caixa">
                                                <span class="rotulo">Contato: </span>
                                                <span class="dado">@r.Contato</span>
                                            </span>
                                            <span class="caixa">
                                                <span class="rotulo">Telefone: </span>
                                                <span class="dado">@r.Telefone </span>
                                            </span>
                                        </div>

                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
        }
        @* Indicadores *@
        <div class="row col s12">
            <div class="input-field col s2">
                @Html.DropDownList("Indicador_Orcamentista",
new SelectList(Model.LstIndicadores, "Value", "Text", Model.DadosCliente?.Indicador_Orcamentista),
new { @id = "indicador" })
                <label>INDICADORES</label>
            </div>
        </div>
        @* Opção de endereço de entrega *@
        <div class="row col s12">
            @{
                string marcadoMesmo = "checked";
                string marcadoOutro = "checked";
                if (Model.EndEntrega == null)
                {
                    marcadoMesmo = "checked";
                    marcadoOutro = "";
                }
                else
                {
                    marcadoMesmo = "";
                    marcadoOutro = "checked";
                }
            }
            <p class="rotulo">Endereço de Entrega</p>

            <div class="row">
                <label>
                    <input class="with-gap" id="mesmo" name="mesmo" type="radio" @marcadoMesmo onclick="fechaDiv('outro_endereco');" />
                    <span class="dado">O mesmo Endereço</span>
                </label>
            </div>
            <div class="row">
                <label>
                    <input class="with-gap" id="outro" name="OutroEndereco" type="radio" @marcadoOutro onclick="mostraDiv('outro_endereco');" />
                    <span class="dado">Outro Endereço</span>
                </label>
            </div>
        </div>
        @* outro endereço *@
        <div id="outro_endereco" name="outro_endereco" style="display:none">
            <div class="row col s12">
                @*Justifique o Endereço*@
                <div class="input-field col s4">
                    <select id="justificativa" name="EndEtg_cod_justificativa">
                        <option value="">Selecione</option>
                        @foreach (var i in Model.EndJustificativa)
                        {
                            <option value="@i.EndEtg_cod_justificativa">@i.EndEtg_descricao_justificativa</option>
                        }
                    </select>
                    <label id="lblJustificativa">Justifique o endereço</label>
                </div>
            </div>
            <partial name="~/Views/Cep/Index.cshtml" model="@Model.Cep" />
        </div>


        @* Botões *@
        <footer class="page-footer">
            <div class="row col s12">
                <div class="col s1"></div>
                <div class="input-field col s2">
                    <button class="waves-effect waves-light btn-small"
                            type="button"
                            style="margin-top:2%;">
                        <i class="material-icons left">arrow_back</i>Voltar
                    </button>
                </div>
                <div class="col s5"></div>
                <div class="input-field col s2">
                    <button class="waves-effect waves-light btn-small"
                            type="submit"
                            style="margin-top:2%;">
                        <i class="material-icons left">arrow_forward</i>Avançar
                    </button>
                </div>
            </div>
        </footer>
    }
</div>
@* Modal Erro *@
<div id="modalErro" class="modal">
    <div class="modal-content">
        <p id="teste" style="font-size:15px;color:black;white-space:initial;line-height:initial;"></p>
    </div>
    <div class="modal-footer">
        <button type="button" href="#!" class="modal-close waves-effect waves-green btn">OK</button>
    </div>
</div>

<style>
    .collapsible-header {
        color: black;
    }

    .caixa {
        display: inline-block;
        padding: 0.5em;
        padding-left: 0em;
    }

        .caixa .rotulo {
            display: inline;
            font-weight: bold;
            opacity: 0.9;
            padding-right: 0.5em;
        }

        .caixa .dado {
            display: inline;
            padding-right: 1.0em;
        }

    .enderecoradio {
        display: block;
        padding-bottom: 0.5em;
    }

    #endereco-radio-group-label {
        display: block;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    .boxnovoednereco {
        padding-top: 1em;
    }

    .page-footer {
        background-color: transparent;
    }
</style>

<script>
    requirejs(["Views/Cliente/DadosCliente"], function (util) {

    });


</script>