@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Loja.Bll.ClienteBll.ClienteBll clienteBll
@inject Loja.Bll.Bll.AcessoBll.UsuarioAcessoBll usuarioAcessoBll
@inject Loja.Bll.Util.Configuracao configuracao
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja.UI</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/personalizado.css?rnd=6" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/js/initiComponentesMat.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/Util.js"></script>
    @RenderSection("ScriptsDiretos", required: false)

    <script src="~/lib/require.js"></script>
    @{
        string baseurl = "/scriptsJsMin";
#if DEBUG
        baseurl = "/scriptsJs";
#endif
    }
    <script>
        requirejs.config({
            //baseUrl: '/jsts',
            //baseUrl: '/jstsmin',
            baseUrl: "@baseurl",
            paths: {
                jquery: '/lib/jquery/dist/jquery.min'
            }
        });
        //requirejs(['app'], function (app) { });
    </script>
    @RenderSection("Scripts", required: false)
</head>

@{
    var usuarioLogado = new Loja.Bll.Bll.AcessoBll.UsuarioLogado(User, HttpContextAccessor.HttpContext.Session, clienteBll, usuarioAcessoBll, configuracao);
    var pathLogin = "/Acesso/Login";
    if (!usuarioLogado.SessaoAtiva)
    {
        var pathAtual = HttpContextAccessor?.HttpContext?.Request?.Path.Value?.ToLower() ?? "";
        if (pathAtual.ToLower() != pathLogin.ToLower())
        {
            //vamos para o login e acabou!
            HttpContextAccessor.HttpContext.Response.Redirect(pathLogin);
        }
    }
}

<body>
    <header>
        <div class="navbar navbar-fixed">
            <nav class="navbar">
                @*<a class="material-icons">notifications</a>*@
                @if (usuarioLogado.SessaoAtiva)
                {
                    <div style="float: right">
                        <div class="row s12">
                            <div class="col " style="font-size: 20px;">
                                Olá @usuarioLogado.Usuario
                            </div>
                            @{
                                var lista = usuarioLogado.LojasDisponiveis.OrderBy(r => r.Nome).ToList();
                            }
                            @if (lista.Count > 0)
                            {
                                <div class="col " style="font-size: 20px; padding-right: 8px">
                                    Loja:
                                </div>
                                <div class="col " style="padding-top: 18px; padding-left: 0px" title="Alterar loja ativa - ainda não implementado">
                                    @{
                                        var listaSl = new List<SelectListItem>();
                                        foreach (var item in lista)
                                        {
                                            listaSl.Add(new SelectListItem(item.Nome, item.Id));
                                        }
                                        ViewData["cabecacomboLojas"] = usuarioLogado.LojaAtiva;
                                    }

                                    @Html.DropDownList("cabecacomboLojas", listaSl, new { @id = "cabecacomboLojas" })
                                </div>
                            }

                            <div class="col ">
                                <a href="~/Acesso/Logout" class="material-icons" title="Logout" style="vertical-align: text-bottom;">
                                    exit_to_app
                                </a>
                                <a href="~/Acesso/Logout" style="    margin-right: 20px;">SAIR</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    //não temos botão de ologin pq já está na pagina de login - mas precisa para outras páginas, que eventualemte não tenham a proteção, como a home
                    if (!(ViewBag.PaginaDeLogin ?? false))
                    {
                        <div class="right" style="margin-right: 10px">
                            <a href="~/Acesso/Login" class="btn">Login</a>
                        </div>
                    }
                }
            </nav>
        </div>

        <script>
            $(document).ready(function () {
                $('#cabecacomboLojas').change(function () {
                    document.location = "/?novaloja=" + $('#cabecacomboLojas').val();
                });
            });
        </script>
    </header>
    <div class="col s12" id="corpo">
        @if (usuarioLogado.SessaoAtiva)
        {
            <style>
                .menudesabilitado {
                    cursor: not-allowed;
                }
            </style>
            <ul class="sidenav sidenav-fixed" style="width:18%; white-space:nowrap">
                <li>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Pedidos</div>
                            <ul class="collapsible-body">
                                <li>
                                    <a class="menudesabilitado" href="#!">Análise de Pré Pedidos</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Cliente")">Novo Pedido</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CancelamentoAutomatico", "Pedido")"><span>Cancelamento Automático</span></a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Indicadores</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Consulta Pedido</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Consulta Pré Pedido</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="collapsible-header">Produtos</div>
                            <ul class="collapsible-body">
                                <li>
                                    <a href="@Url.Action("Index", "Produtos")">Consulta Lista de Preços</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Consulta Custo Financeiro</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Indicadores</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="collapsible-header">Relatórios</div>
                            <ul class="collapsible-body">
                                <li>
                                    <div class="input-field col s3">
                                        <input id="pesquisa" type="text" />
                                        <label for="pesquisa">Pesquisar</label>
                                    </div>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Pedidos Indicadores</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Faturamento</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Vendas</a>
                                </li>
                                <li>
                                    <a class="menudesabilitado" href="#!">Vendas com Desc. Superior</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        }


        @{
            var estilos = "corpo";
            @if ((ViewBag.PaginaDeLogin ?? false))
            {
                estilos = " corpologin";
            }
        }
        <main role="main" class="container @estilos">
            @RenderBody()
        </main>
        <partial name="~/Views/Shared/Error.cshtml" />
    </div>


</body>
</html>
