@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Loja.Bll.ClienteBll.ClienteBll clienteBll
@inject Loja.Bll.Bll.AcessoBll.UsuarioAcessoBll usuarioAcessoBll
@inject Loja.Bll.Util.Configuracao configuracao
@inject Microsoft.Extensions.Logging.ILogger<Loja.Bll.Bll.AcessoBll.UsuarioLogado> loggerUsuarioLogado
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja.UI</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/personalizado.css?rnd=6" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/js/initiComponentesMat.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/Util.js"></script>
    @RenderSection("ScriptsDiretos", required: false)

    <script src="~/lib/require.js"></script>
    @{
        string baseurl = "/scriptsJsMin";
#if DEBUG
        baseurl = "/scriptsJs";
#endif
    }
    <script>
        requirejs.config({
            //baseUrl: '/jsts',
            //baseUrl: '/jstsmin',
            baseUrl: "@baseurl",
            paths: {
                jquery: '/lib/jquery/dist/jquery.min'
            }
        });
        //requirejs(['app'], function (app) { });
    </script>
    @RenderSection("Scripts", required: false)
</head>

@{
    var usuarioLogado = new Loja.Bll.Bll.AcessoBll.UsuarioLogado(loggerUsuarioLogado, User, HttpContextAccessor.HttpContext.Session, clienteBll, usuarioAcessoBll, configuracao);
    var pathLogin = "/Acesso/Login";
    if (!usuarioLogado.SessaoAtiva)
    {
        var pathAtual = HttpContextAccessor?.HttpContext?.Request?.Path.Value?.ToLower() ?? "";
        if (!pathAtual.ToLower().Contains(pathLogin.ToLower()))
        {
            //vamos para o login e acabou!
            HttpContextAccessor.HttpContext.Response.Redirect(pathLogin);
        }
    }
}

<body>
    <header>
        <div class="navbar navbar-fixed alturaheader">
            <nav class="navbar">
                <a href="#" data-target="slide-out" class="sidenav-trigger" title="Menu"><i class="material-icons">menu</i></a>

                @*<a class="material-icons">notifications</a>*@
                @if (usuarioLogado.SessaoAtiva)
                {
                    //deixamos ocultando em tela pequena
                    //fica confuso ter um menu do lado direito e outro do lado esquerdo
                    //para resolver, acho que deveria ir para uma página com o combo de lojas
                    //com isto, o drop-down de loja não funciona: overflow: hidden;
                    <div class="divcabecalho hide-on-med-and-down">
                        <ul class="right">
                            <li style="font-size: 20px;padding-right: 16px;">
                                Olá @usuarioLogado.Usuario_nome_atual
                            </li>
                            @{
                                var lista = usuarioLogado.LojasDisponiveis.OrderBy(r => r.Nome).ToList();
                            }
                            @if (lista.Count > 0)
                            {
                                <li style="font-size: 20px; padding-right: 16px">
                                    Loja:
                                </li>
                                <li style="padding-top: 18px; padding-left: 0px" title="Alterar loja ativa">
                                    @{
                                        var listaSl = new List<SelectListItem>();
                                        foreach (var item in lista)
                                        {
                                            listaSl.Add(new SelectListItem(item.Nome, item.Id));
                                        }
                                        ViewData["cabecacomboLojas"] = usuarioLogado.Loja_atual_id;
                                    }

                                    @Html.DropDownList("cabecacomboLojas", listaSl, new { @id = "cabecacomboLojas" })
                                </li>
                            }

                            <li>
                                <a href="~/Acesso/Logout" class="material-icons" title="Logout" style="vertical-align: text-bottom;">
                                    exit_to_app
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    //não temos botão de ologin pq já está na pagina de login - mas precisa para outras páginas, que eventualemte não tenham a proteção, como a home
                    if (!(ViewBag.PaginaDeLogin ?? false))
                    {
                        <div class="right" style="margin-right: 10px">
                            <a href="~/Acesso/Login" class="btn">Login</a>
                        </div>
                    }
                }
            </nav>
        </div>

        <script>
            $(document).ready(function () {
                $('#cabecacomboLojas').change(function () {
                    document.location = "/?novaloja=" + $('#cabecacomboLojas').val();
                });
            });
        </script>
    </header>

    @if (usuarioLogado.SessaoAtiva)
    {
        <style>
            .menudesabilitado {
                cursor: not-allowed;
            }
        </style>
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li>
                <ul class="collapsible">
                    <li>
                        <div class="hide-on-large-only collapsible-header"><a href="javascript:M.Sidenav.getInstance(document.getElementById('slide-out')).close()" title="Fechar menu"><i class="material-icons">menu</i></a></div>
                        <div class="collapsible-header menuhome" onclick="javascript:window.location = '@Url.Action("Index", "Home")'" title="Home">
                            <a href="@Url.Action("Index", "Home")" title="Home" class="show-on-medium-and-down"><i class="material-icons">home</i></a>
                            <a href="@Url.Action("Index", "Home")" title="Home" class="hide-on-med-and-up">home</a>
                        </div>
                        <div class="collapsible-header">Pedidos</div>
                        <ul class="collapsible-body">
                            <li>
                                <a class="menudesabilitado" href="#!">Análise de Pré Pedidos</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Cliente")">Novo Pedido</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CancelamentoAutomatico", "Pedido")"><span>Cancelamento Automático</span></a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Indicadores</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Consulta Pedido</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Consulta Pré Pedido</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="collapsible-header">Produtos</div>
                        <ul class="collapsible-body">
                            <li>
                                <a href="@Url.Action("Index", "Produtos")">Consulta Lista de Preços</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Consulta Custo Financeiro</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Indicadores</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="collapsible-header">Relatórios</div>
                        <ul class="collapsible-body">
                            <li>
                                <div class="input-field col s3">
                                    <input id="pesquisa" type="text" />
                                    <label for="pesquisa">Pesquisar</label>
                                </div>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Pedidos Indicadores</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Faturamento</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Vendas</a>
                            </li>
                            <li>
                                <a class="menudesabilitado" href="#!">Vendas com Desc. Superior</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hide-on-med-and-up show-on-medium-and-down">
                        <a href="~/Acesso/Logout" title="Logout">
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }


    <main role="main" class="container corpo" style="max-width: initial; width: 100%;">
        @RenderBody()
    </main>
    <partial name="~/Views/Shared/Error.cshtml" />


</body>
</html>
