@model Loja.UI.Models.Pedido.Indicador_SelecaoCDViewModel
@{
    ViewData["Title"] = "Indicador_SelecaoCD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="fa fa-truck bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Novo Pedido</h5>
                    <span>Opções de com ou sem indicador e CD manual ou automático</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pcoded-inner-content pb-0" style="min-height:64vh">
    <div class="main-body">
        <div class="page-wrapper pb-0">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card mb-0">
                            <div class="page-header card mb-0">
                                <div class="row col-lg-12 col-xl-12 pr-0 mb-2">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pl-0 pr-4 mb-2"
                                         style="height:70px;">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#eee;height:70px; text-align:left;
                                                    color:#aaa; display:block; box-shadow:none">
                                            <span class="number">1.</span>
                                            Cadastro Cliente
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pl-0 pr-4 mb-2"
                                         style="height:70px;">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#4099ff; text-align:left; color:#fff;
                                                    display:block;box-shadow:none">
                                            <span class="number">2. </span>
                                            CD e Indicador
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pl-0 pr-4 mb-2"
                                         style="height:70px">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#eee; text-align:left; color:#aaa;
                                                    display:block;box-shadow:none">
                                            <span class="number">3.</span>
                                            Produtos e Forma Pagamento
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pl-0 pr-4"
                                         style="height:70px;">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#eee; text-align:left; color:#aaa;
                                                    display:block;box-shadow:none">
                                            <span class="number">4.</span>
                                            Informações Adicionais
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="page-header card" style="border:1px solid #ccc; padding:20px">
                                @using (Html.BeginForm("Cadastrar_Indicador_SelecaoCD", "Pedido", FormMethod.Post,
new { enctype = "multipart/form-data", onsubmit = "return continuar()", id = "formulario" }))
                                {

                                    <div class="row">
                                        <div class="col s12">
                                            <span class="caixa">
                                                <strong>
                                                    <span class="rotulo">Cliente:</span>
                                                    <span class="dado" name="nome" id="nome"> @Model.NomeCliente</span>
                                                </strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row col s12"></div>
                                    <div class="form-group row">
                                        @if (Model.ListaOperacoesPermitidas.IndexOf(Loja.Bll.Constantes
.Constantes.OP_LJA_EXIBIR_CAMPOS_COM_SEM_INDICACAO_AO_CADASTRAR_NOVO_PEDIDO.ToString()) != -1)
                                        {
                                            <div class="col-md-12 col-xl-6">
                                                <div class="card-header pl-0 caixa">
                                                    <h5 class="rotulo">Indicação</h5>
                                                </div>
                                                <div class="card-block pl-0">
                                                    <div class="form-radio">
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkSemIndicacao" class="js-programmatic-disable" checked name="comIndicacao" value="0" />
                                                                <i class="helper"></i>Sem Indicação
                                                            </label>
                                                        </div>
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkComIndicacao" name="comIndicacao" class="js-programmatic-enable" value="0" />
                                                                <i class="helper"></i>Com Indicação
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @* inserir o select de indicadores aqui *@
                                                    <div id="indicadores">
                                                        @Html.DropDownList("ListaIndicadores", new SelectList(Model.ListaIndicadores, "Value", "Text"),
                                                       new { @id = "indicador", @name = "indicador", @class = "form-control custom-select" })
                                                    </div>
                                                </div>
                                                <div class="card-block pl-0">
                                                    <div class="form-radio">
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkSemRa" name="comRA" value="false" />
                                                                <i class="helper"></i>Sem RA
                                                            </label>
                                                        </div>
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkComRa" name="comRA" value="false" />
                                                                <i class="helper"></i>Com RA
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="RA">
                                                        <label class="col-form-label" for="percComissao">COM(%)</label>
                                                        <input type="text" onblur="VerificarPercMaxDescEComissao(this);" onkeyup="formataPercComissao(this)"
                                                               id="percComissao" name="percComissao" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.ListaOperacoesPermitidas.IndexOf(Loja.Bll.Constantes
.Constantes.OP_LJA_CADASTRA_NOVO_PEDIDO_SELECAO_MANUAL_CD.ToString()) != -1)
                                        {
                                            <div class="col-md-12 col-xl-6">
                                                <div class="card-header caixa">
                                                    <h5 class="rotulo">Modo de Seleção do CD (Auto-Split)</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="form-radio">
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkAutomatico" class="js-programmatic-disable" name="cdAutomatico" value="false" />
                                                                <i class="helper"></i>Automático
                                                            </label>
                                                        </div>
                                                        <div class="radio radio-inline">
                                                            <label>
                                                                <input type="radio" id="chkManual" class="js-programmatic-enable" name="cdManual" value="0" />
                                                                <i class="helper"></i>Manual
                                                            </label>
                                                        </div>
                                                    </div>
                                                    @* inserir o select de cd aqui *@
                                                    <div id="cd">
                                                        <label class="col-form-label" for="selecaoCd">Centro de Distribuição</label>
                                                        @Html.DropDownList("ListaCD", new SelectList(Model.ListaCD, "Value", "Text"),
                                                       new { @id = "selecaoCd", @name = "nomeCD", @class = "custom-select" })
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    @*if (Loja.Bll.Constantes.Constantes.ID_PARAM_SITE == Loja.Bll.Constantes.Constantes.COD_SITE_ASSISTENCIA_TECNICA)
                                           {
                                               <div class="col s2" id="divPedBonshop">
                                                   <div class="input-field">
                                                       <input type="text" id="pedBonshop" name="pedBonshop" />
                                                       <label>COM(%)</label>
                                                   </div>
                                               </div>
                                               <div class="col s4" id="divPedBonshop">
                                                   <div class="input-field">
                                                       @Html.DropDownList("PedBonshop", new SelectList(
                                        Model.PedBonshop, "Value", "Text"),
                                        new { @id = "pedBonshop", @name = "pedBonshop" })
                                                       <label>Ref. Pedido Bonshop</label>
                                                   </div>
                                                   <div class="col s4" id="divMsgCD" style="line-height:normal; display:none;position:absolute;">
                                                       <span id="msgCD" style="word-break:break-word; color:red;font-weight:bold"></span>
                                                   </div>
                                               </div>
                                           }*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section RodapePagina {
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <footer>
                        <div class="row">
                            <div class="col-xl-12" style="display:flex">
                                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2"></div>
                                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 px-0">
                                    <a class="btn btn-primary"
                                       href="@Url.Action("BuscarCliente", "Cliente", new { cpf_cnpj = Model.CpfCnpj, novoCliente = false})">
                                        <i class="fa fa-arrow-left"></i>Voltar
                                    </a>
                                </div>
                                <div class="col-lg-1 col-md-3 col-sm-3"></div>
                                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 px-0">
                                    <button class="btn btn-primary"
                                            type="submit" onclick="$('#formulario').submit()">
                                        <i class="fa fa-arrow-right"></i>Avançar
                                    </button>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
}



<div id="modalConfirm" class="modal">
    <div class="modal-content">
        <section>
            <article class="fixo">
                <p id="msg" style="font-size:15px;color:black;white-space:initial;line-height:initial;"></p>
            </article>
            <div class="modal-footer col s12" id="footer">
                <div class="container">
                    <button type="button" onclick="DeclinarIndicadorDigerente()" class="modal-close waves-effect waves-green btn">Cancelar</button>
                    <button type="button" onclick="ConfirmarIndicadorDiferente()" class="modal-close waves-effect waves-green btn">
                        Continuar
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    var indicadorOriginal = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.IndicadorOriginal).ToString(), true)));
    var listaIndicadoresDto = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.ListaIndicadores).ToString(), true)));
    var percentualMaximoDto = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.PercMaxPorLoja).ToString(), true)));
    var moedaUtils;
    var flagConfirmaIndicadorDiferente;

    //
    function AbrirModalConfirm() {
        //'#modal1' modal de produtos
        let modal = "#modalConfirm";
        let Modalelem = document.querySelector(modal);
        let instanceModal = M.Modal.init(Modalelem);
        instanceModal.open();
    }
</script>

<script>
    requirejs(["Views/Pedido/Indicador_SelecaoCD"], function (util) {

    });
</script>

<style>
    .caixa {
        display: inline-block;
        padding: 0.5em;
        padding-left: 0em;
    }

        .caixa .rotulo {
            display: inline;
            font-weight: bold;
            opacity: 0.9;
            padding-right: 0.5em;
        }

        .caixa .dado {
            display: inline;
            padding-right: 1.0em;
        }
</style>
