@model Loja.UI.Models.Pedido.ProdutosFormaPagtoViewModel
@{
    ViewData["Title"] = "IniciarNovoPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Esta tela irá mostrar a lista de produtos selecionados pelo cliente e a forma de pagamento*@

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-clipboard bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Novo Pedido</h5>
                    <span>Adicione os produtos e a forma de pagamento</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Cliente" )">Cliente</a> </li>
                    <li class="breadcrumb-item"><a href="@Url.Action("BuscarCliente", "Cliente", new { cpf_cnpj = Model.CpfCnpj, novoCliente = false})">Cadastro Cliente</a> </li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Indicador_SelecaoCD", "Pedido")">Indicador e CD</a> </li>
                    <li class="breadcrumb-item"><a href="#!">Produtos e Pagamento</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content pb-0" style="min-height: 75vh;">
    <div class="main-body">
        <div class="page-wrapper pb-0">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card mb-0" style="min-height: 75vh;">
                            <div class="page-header card mb-4">
                                <div class="row col-lg-12 col-xl-12 pr-0">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pl-0"
                                         style="height:70px;">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#eee;height:70px; text-align:left;
                                                    color:#aaa; display:block; box-shadow:none">
                                            <span class="number">1.</span>
                                            Cadastro Cliente
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12"
                                         style="height:70px;">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#eee; text-align:left; color:#aaa;
                                                    display:block;box-shadow:none">
                                            <span class="number">2. </span>
                                            CD e Indicador
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12"
                                         style="height:70px">
                                        <div class="card py-4 px-2 mb-0"
                                             style="background-color:#4099ff; text-align:left; color:#fff;
                                                    display:block;box-shadow:none">
                                            <span class="number">3.</span>
                                            Produtos e Forma Pagamento
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pr-0"
                                         style="height:70px;">
                                        <div class="card py-4 px-4 mb-0"
                                             style="background-color:#eee; text-align:left; color:#aaa;
                                                    display:block;box-shadow:none">
                                            <span class="number">4.</span>
                                            Informações Adicionais
                                        </div>
                                    </div>
                                </div>


                            </div>

                            @using (Html.BeginForm("PreparaParaCadastrarPedido", "Pedido", FormMethod.Post,
new { enctype = "multipart/form-data", onsubmit = "return continuar()", id = "formulario" }))
                            {
                                <div class="page-header card" style="border: 1px solid #ccc; padding:20px">
                                    <div class="row">

                                        <div class="row col-xl-12 col-lg-12">
                                            <div class="col-xl-12 col-lg-11">
                                                <span class="caixa">
                                                    <strong>
                                                        <span class="rotulo">Cliente:</span>
                                                        <span class="dado" name="nome" id="nome"> @Model.NomeCliente</span>
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="col-xl-9 col-lg-8 col-sm-8">
                                                <span class="caixa">
                                                    <strong>
                                                        <span class="rotulo">Percentual comissão:</span>
                                                        <span class="dado" name="perComissao" id="perComissao" style="padding-right:0px;">@Model.PercComissao</span><strong>%</strong>
                                                        <input type="hidden" id="percComissao" name="percComissao" />
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="col-xl-2 col-lg-2">
                                                <button data-toggle="modal" class="btn btn-primary" data-target="#modal1" type="button">
                                                    <i class="fa fa-plus"></i>Adicionar produto
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-header card"></div>
                                    @*PRODUTOS*@
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="card-body px-0">
                                                @{
                                                    var indice = 0;
                                                    <input type="hidden" id="indice" value="" />

                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" class="produto">
                                                                    Produto
                                                                </th>
                                                                <th scope="col" style="text-align:right">
                                                                    Qtde
                                                                </th>
                                                                @if (Model.Permite_RA_Status == 1)//NÃO SOMENTE VERIFICANDO ESSE PARAM
                                                                {
                                                                    <th scope="col" style="text-align:right">
                                                                        Preço
                                                                    </th>
                                                                }
                                                                <th scope="col" style="text-align:right">
                                                                    VL Lista
                                                                </th>
                                                                <th scope="col" style="text-align:right">
                                                                    Desc%
                                                                </th>
                                                                <th scope="col" style="text-align:right">
                                                                    VL Venda
                                                                </th>
                                                                <th scope="col" style="text-align:right">
                                                                    VL Total
                                                                </th>
                                                                <th scope="col" style="text-align:right">

                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                @* Mudamos para não repetir código, o bloco antigo de modelo para adição de 01 item *@
                                                                int indexnumero = 0;
                                                                @for (int ilista = 0; ilista <= (Model.ListaProdutos?.Count() ?? 0); ilista++)
                                                                {
                                                                    //bool linhaNovoProduto = true;
                                                                    string index = "trocarporindex";
                                                                    string classe = "class=\"novoProduto\"";
                                                                    string classenovoProdutoEstoque = "class=\"novoProdutoEstoque\"";
                                                                    string classenovoProdutoAviso = "class=\"novoProdutoAviso\"";
                                                                    string classenovoProdutoQtdeMaxPermitida = "class=\"novoProdutoQtdeMaxPermitida\"";
                                                                    string estilo = "style=\"display:none\"";
                                                                    Loja.Bll.Dto.PedidoDto.DetalhesPedido.PedidoProdutosDtoPedido i = new Loja.Bll.Dto.PedidoDto.DetalhesPedido.PedidoProdutosDtoPedido();
                                                                    if (ilista != (Model.ListaProdutos?.Count() ?? 0))
                                                                    {
                                                                        //linhaNovoProduto = false;
                                                                        i = Model.ListaProdutos[ilista];
                                                                        index = indexnumero.ToString();
                                                                        classe = "";
                                                                        classenovoProdutoEstoque = "";
                                                                        classenovoProdutoAviso = "";
                                                                        classenovoProdutoQtdeMaxPermitida = "";
                                                                        estilo = "";
                                                                    }


                                                                    <tr @Html.Raw(classe) @Html.Raw(estilo)>

                                                                        <td class="desc-produto" name="[@index].NumProduto">
                                                                            <input type="hidden" name="[@index].Fabricante" value="@i.Fabricante" />
                                                                            <input class="numProduto" type="hidden" name="[@index].NumProduto" value="@i.NumProduto?">
                                                                        </td>
                                                                        <td class="qtde">
                                                                            <input class="qtde" type="number" min="1" name="[@index].Qtde" id="@i.Qtde"
                                                                                   onkeyup="digitouQtde(this)" onchange="digitouQtde(this)" />
                                                                        </td>

                                                                        @if (Model.Permite_RA_Status == 1)
                                                                        {
                                                                            <td class="preco-input">
                                                                                <input type="text" name="[@index].Preco_Lista" id="@i.Preco_Lista"
                                                                                       onkeyup="formatarPreco_Lista(this)"
                                                                                       onchange="digitouPreco_Lista(this)" />
                                                                            </td>
                                                                        }

                                                                        <td class="preco-text" name="[@index].VlLista" id="@i.VlLista">
                                                                        </td>
                                                                        <td style="display:none">
                                                                            <input type="hidden" name="[@index].VlLista" />
                                                                        </td>
                                                                        <td style="display:none">
                                                                            <input type="hidden" name="[@index].Preco" />
                                                                        </td>
                                                                        <td class="desconto">
                                                                            <input class="desconto" type="text" name="[@index].Desconto"
                                                                                   id="@i.Desconto" onchange="digitouDesc(this)"
                                                                                   onkeyup="formatarDesc(this)" />  %
                                                                        </td>
                                                                        <td class="preco-input">
                                                                            <input type="text" name="[@index].VlUnitario"
                                                                                   id="@i.VlUnitario" onchange="digitouVlVenda(this)"
                                                                                   onkeyup="formataVlVenda(this)" />
                                                                        </td>
                                                                        <td class="preco-text" name="[@index].VlTotalItem">
                                                                        </td>
                                                                        <td style="display:none">
                                                                            <input type="hidden" name="[@index].VlTotalItem" />
                                                                        </td>
                                                                        <td class="lixeira">
                                                                            <div class="form-control">
                                                                                <span>
                                                                                    <i class="fa fa-trash" title="Remover linha"
                                                                                       onclick="removerLinha(this);"></i>
                                                                                </span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }



                                                                <tr class="trTotal">
                                                                    <!-- pula as colunas vazias -->
                                                                    @if (Model.Permite_RA_Status == 1)
                                                                    {
                                                                        <td style="text-align:right">
                                                                            RA Líquido
                                                                            <strong id="totalValorRALiquido" style="font-weight:bold"></strong>
                                                                            <input type="hidden" id="totalValorRALiquidoInput"
                                                                                   name="totalValorRALiquidoInput" value="@Model.TotalPedidoRALiquido" />
                                                                            &nbsp;&nbsp; RA Bruto
                                                                            <strong id="totalValorRABruto" style="font-weight:bold"></strong>
                                                                            <input type="hidden" id="totalValorRABrutoInput"
                                                                                   name="totalValorRABrutoInput" value="@Model.TotalPedidoRABruto" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                        </td>
                                                                    }
                                                                    <td> </td>
                                                                    @if (Model.Permite_RA_Status == 1)
                                                                    {
                                                                        //valor total ra
                                                                        <td style="text-align:right;">
                                                                            <strong id="totalPedidoRABruto"></strong>
                                                                            <input type="hidden" id="totalPedidoRABrutoInput"
                                                                                   name="totalPedidoRABruto" value="@Model.TotalPedidoRABruto" />
                                                                        </td>
                                                                    }
                                                                    <td> </td>
                                                                    <td> </td>
                                                                    <td> </td>
                                                                    <td style="text-align:right;">
                                                                        <strong id="totalPedido" style="font-weight:bold"></strong>
                                                                        <input type="hidden" id="totalPedidoInput"
                                                                               name="totalDestePedido" value="@Model.VlTotalDestePedido" />
                                                                    </td>
                                                                    <td> </td>


                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @*FORMA PAGTO*@
                                    <div class="row">
                                        <div class="row col-xl-12 col-lg-12">
                                            <div class="col-xl-6 col-lg-6">
                                                @* Radio's *@
                                                <h4 class="sub-title">Tipo Forma Pagamento</h4>
                                                <div class="form-radio">
                                                    <div class="radio radio-inline">
                                                        @foreach (var i in Model.EnumFormaPagto)
                                                        {
                                                            if (i.Text != "Selecionar")
                                                            {
                                                                <label>
                                                                    <input type="radio" name="radio" id="enumFormaPagto" value="@i.Value"
                                                                           onclick="recalcularValoresComCoeficiente(this)">
                                                                    <i class="helper"></i>@i.Text
                                                                </label>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="col-form-label">Tipo Forma Pagamento</label>
                                                        @Html.DropDownList("FormaPagto", new SelectList(Model.EnumFormaPagto, "Value", "Text",
                                                       Model.EnumFormaPagto), new
                                                       {
                                                           @id = "enumFormaPagto",
                                                           @onchange = "recalcularValoresComCoeficiente(this);",
                                                           @class = "custom-select"
                                                       })
                                                    </div>*@


                                            </div>
                                            @* Observação forma pagamento *@
                                            <div class="col-xl-6 col-lg-6 pr-0">
                                                <h4 class="sub-title">Dados Pagamento</h4>
                                                <div class="form-group">
                                                    @* aqui vai a condição para mostrar a div A vista *@
                                                    @if (Model.FormaPagto.ListaAvista != null)
                                                    {
                                                        <div class="form-group Avista" style="display:none">
                                                            <label class="col-form-label">Parcelamento</label>
                                                            @* Parcelamento *@
                                                            <select class="custom-select" name="" id="opcaoPagtoAvista">
                                                                <option value="0">Selecione</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group Avista" style="display:none">
                                                            <label class="col-form-label">Meio de Pagamento</label>
                                                            <select class="custom-select" name="" id="meioPagtoAVista">
                                                                <option value="0">Selecione</option>
                                                                @foreach (var i in Model.FormaPagto.ListaAvista)
                                                                {
                                                                    <option value="@i.Id">@i.Descricao</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }

                                                    @* aqui vai a condição para mostrar a div Parcela Unica *@
                                                    @if (Model.FormaPagto.ListaParcUnica != null)
                                                    {
                                                        <div class="form-group ParcUnica" style="display:none">
                                                            <label class="col-form-label">Parcelamento</label>
                                                            @* Parcelamento *@
                                                            <select class="custom-select" name="" id="opcaoPagtoParcUnica">
                                                                <option value="0">Selecione</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group ParcUnica" style="display:none">
                                                            <label class="col-form-label">Meio de Pagamento</label>
                                                            <select class="custom-select" name="" id="meioPagtoParcUnica">
                                                                <option value="0">Selecione</option>
                                                                @foreach (var i in Model.FormaPagto.ListaParcUnica)
                                                                {
                                                                    <option value="@i.Id">@i.Descricao</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="form-group ParcUnica" style="display:none">
                                                            <label class="col-form-label">Dias para vencimento</label>
                                                            <input class="form-control" type="number" min="1" max="30" id="diasVencParcUnica" />
                                                        </div>
                                                    }

                                                    @* aqui vai a condição para mostrar a div Parcela com entrada *@
                                                    @if (Model.FormaPagto.ListaParcComEntrada != null)
                                                    {
                                                        //Entrada
                                                        <div class="row form-group ParcComEntrada col-lg-12 m-0 p-0" style="display:none; ">
                                                            <div class="col-lg-6 pl-0" style="align-self:flex-end;">
                                                                <label class="col-form-label">Valor Entrada</label>
                                                                <input class="form-control" id="vlEntrada" type="text" onblur="digitouVlEntrada(this)"
                                                                       onkeyup="formatarVlEntrada(this)" />
                                                            </div>
                                                            <div class="col-lg-6 p-0" style="float:right">
                                                                <label class="col-form-label">Meio Pagamento Entrada</label>
                                                                <select class="custom-select" name="" id="meioPagtoEntrada">
                                                                    <option value="0">Selecione</option>
                                                                    @foreach (var v in Model.FormaPagto.ListaParcComEntrada)
                                                                    {
                                                                        <option value="@v.Id">@v.Descricao</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        //Prestações
                                                        <div class="row form-group ParcComEntrada col-lg-12 m-0 p-0" style="display:none">
                                                            @* Parcelamento *@
                                                            <div class="col-lg-6 pl-0" style="align-self:flex-end">
                                                                <label class="col-form-label">Parcelamento</label>
                                                                <select class="custom-select" name="" id="opcaoPagtoParcComEntrada">
                                                                    <option value="0">Selecione</option>
                                                                </select>
                                                            </div>

                                                            @*Meio de Pagamento*@
                                                            <div class="col-lg-6 p-0" style="float:right">
                                                                <label class="col-form-label">Meio de Pagamento</label>
                                                                <select class="custom-select" name="" id="meioPagtoEntradaPrest">
                                                                    <option value="0">Selecione</option>
                                                                    @foreach (var i in Model.FormaPagto.ListaParcComEntPrestacao)
                                                                    {
                                                                        <option value="@i.Id">@i.Descricao</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group ParcComEntrada col-lg-12 m-0 p-0" style="display:none">
                                                            <label class="col-form-label">Dias para vencimento Prest</label>
                                                            <input class="form-control" type="text" id="diasVenc" maxlength="3" />
                                                        </div>
                                                    }

                                                    @* aqui vai a condição para mostrar a div Pagamento com Cartão Internet *@
                                                    @if (Model.FormaPagto.ParcCartaoInternet)
                                                    {
                                                        <div class="form-group PagtoCartaoInternet" style="display:none">
                                                            @* Parcelamento  *@
                                                            <label class="col-form-label">Parcelamento</label>
                                                            <select class="custom-select" id="opcaoPagtoParcCartaoInternet">
                                                                <option value="0">Selecione</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @* aqui vai a condição para mostrar a div Pagamento com Cartão Maquineta *@
                                                    @if (Model.FormaPagto.ParcCartaoMaquineta)
                                                    {
                                                        <div class="form-group PagtoCartaoMaquineta" style="display:none">
                                                            @* Parcelamento  *@
                                                            <label class="col-form-label">Parcelamento</label>
                                                            <select class="custom-select" name="" id="opcaoPagtoParcCartaoMaquineta">
                                                                <option value="0">Selecione</option>
                                                            </select>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        @* Observação forma pagamento *@
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Observações da forma de pagamento</label>
                                                <textarea class="form-control" rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .table thead th {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 1.7ch;
    }

    .table td {
        text-align: right;
    }

    .produto {
        width: 100%;
        min-width: 100px;
        text-align: left !important;
    }

    .desc-produto {
        width: 100%;
        min-width: 100px;
        text-align: left !important;
        white-space: pre-line;
    }

    .preco-text {
        text-align: right;
        width: 100px;
    }

    .qtde {
        text-align: right;
        width: 60px;
    }

    .preco-input {
        width: 130px;
    }

        .preco-input input {
            text-align: right;
            width: 100px !important;
        }

    .desconto {
        text-align: right;
        width: 80px !important;
    }

    .vl-venda input {
        text-align: right;
    }

    .lixeira {
        width: 30px;
    }

        .lixeira div {
            text-align: center;
        }

        .lixeira span {
            color: red;
        }

    .table-responsive tbody :hover {
        background-color: #d1d1d1 !important;
    }

    .descricao-produto {
        text-align: left;
    }

    .table-modal {
        display: table !important;
    }

        .table-modal tbody tr td label {
            margin-bottom: 0px !important;
        }

        .table-modal tbody tr td {
            padding: 0px !important;
            text-align: left !important;
            white-space: inherit;
            border: 3px solid white;
        }

    .trfilho {
        font-size: smaller;
    }

    .caixa {
        display: inline-block;
        padding: 0.5em;
        padding-left: 0em;
    }

        .caixa .rotulo {
            display: inline;
            font-weight: bold;
            opacity: 0.9;
            padding-right: 0.5em;
        }

        .caixa .dado {
            display: inline;
            padding-right: 1.0em;
        }
</style>


@section RodapePagina {
    <footer class="m-2">
        <div class="row col-lg-12">
            <div class="col-lg-3 col-sm-10"></div>
            <div class="col-lg-3 col-sm-10">
                <a class="btn btn-primary waves-effect waves-light"
                   href="@Url.Action("Indicador_SelecaoCD", "Pedido")">
                    <i class="fa fa-arrow-left"></i>Voltar
                </a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3 col-sm-10">
                <button class="btn btn-primary waves-effect waves-light"
                        type="submit" onclick="$('#formulario').submit()">
                    <i class="fa fa-arrow-right"></i>Avançar
                </button>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </footer>
}

@* Modal para mostrar os produtos *@
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" style="height:60%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group row col-xl-12 col-lg-12">
                    <div class="col-xl-9 col-lg-9">
                        <label class="col-form-label" id="lblbuscaproduto" for="buscaproduto">Produto (código) </label>
                        <input name="buscaproduto" id="buscaproduto" type="text" class="form-control" />
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <label class="col-form-label" for="qtde">Qtde </label>
                        <input class="form-control" name="qtde" id="qtde" type="number" min="1" placeholder="Quantidade" value="1" />
                    </div>
                </div>
            </div>
            <div class="modal-body" style="width:101%">
                <div class="listaprods" style="height:calc(100vh - 540px); overflow-x:hidden; border:1px solid #cecece">
                    <div class="row center" id="msg"></div>
                    <table class="table table-responsive table-modal">
                        <tbody>
                            @foreach (var i in Model.ProdutoCombo.ProdutoDto)
                            {
                                if (i.Preco_lista > 0)
                                {
                                    <tr id="prod">
                                        <td>
                                            <div class="form-radio ml-1">
                                                <div class="radio radio-inline">
                                                    <label>
                                                        <input type="radio" value="@i.Fabricante" />
                                                        <i class="helper"></i> @i.Fabricante/ @i.Produto
                                                        <input type="hidden" value="@i.Produto" />
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="descricao-produto">@Html.Raw(i.Descricao_html)</td>
                                        <td>@string.Format("{0:c2}", i.Preco_lista)</td>
                                    </tr>
                                    {
                                        var filhosDiretos = Model.ProdutoCombo.ProdutoCompostoDto.Where(el => el.PaiFabricante == i.Fabricante && el.PaiProduto == i.Produto);
                                        foreach (var filho in filhosDiretos)
                                        {
                                            foreach (var filhote in filho.Filhos)
                                            {
                                                var dadofilhote = Model.ProdutoCombo.ProdutoDto.Where(el => el.Fabricante == filhote.Fabricante && el.Produto == filhote.Produto);
                                                foreach (var filhotetela in dadofilhote)
                                                {
                                                    <tr style="font-size:small">
                                                        <td style="padding-left: 4% !important; ">@filhote.Qtde x @filhote.Fabricante/@filhotetela.Produto</td>
                                                        <td>@Html.Raw(filhotetela.Descricao_html)</td>
                                                        <td style="text-align:end">@string.Format("{0:c2}", filhotetela.Preco_lista)</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal-footer justify-content-center py-1">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="InserirProdutoLinha()">OK</button>
            </div>
        </div>
    </div>
</div>



<script>

    //Estamos pegando a lista completa de produtos para passar para o .ts da tela
    var lstprodutos = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.ProdutoCombo).ToString(), true)))

    //teste: criar uma function para fazer a chamada ajax, mas sendo utilizado pelo .ts


    //abrir modal para seleção de produtos
    function AbrirModalProdutos() {
        //'#modal1' modal de produtos
        $("#modal1").modal("show");
    }

    function continuar() {
        continuar();
    }


    var lstCoeficiente = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.ListaCoeficiente).ToString(), true)))
    var FormaPagtoServidor = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.FormaPagto).ToString(), true)))

    //estou add a lista de produtos selcionados para poder calcular os valores das parcelas
    var lstProdSelecionados = [];
    var indice;
    var itens;
    var moedaUtils;
    var novoPedidoDadosService;
    var dadosPagto;
    var enumFormaPagto;
    var permiteRAStatus = (@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.Permite_RA_Status.ToString()).ToString()));
    var qtdeParcVisa = (@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.QtdeParcVisa.ToString()).ToString()));
    var percentualMaximoDto = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.PercMaxDescEComissao).ToString(), true)));


    var cdSelecionadoId = (@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.CdSelecionadoId.ToString()).ToString()));
    var testeJson;
    var lstProdutosSelecionados;

    var percComissao = (@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.PercComissao.ToString()).ToString()));
    var tipoCliente = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.TipoCliente).ToString(), true)));
    var meiosPagtoPreferenciais = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.MeiosPagtoPreferenciais).ToString(), true)));
    var listaObjetoSenhaDesconto = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.ListaObjetoSenhaDesconto).ToString(), true)));


    var perc_RT_novo;
    var lstErros;
    var erroPercNovo;

</script>

@*<style>



        /*.table input{
            max-width: 50%;
        }*/

        .table td {
            padding: .3rem !important;
        }


        .listaprods {
            flex: 1 1 auto;
            /*overflow-y: auto;*/
        }

        /*.modal {
                                    width: 70% !important;
                                    max-height: 80% !important;
                                    overflow-y: inherit !important;
                                    border-radius: 4px !important;
                                }*/

        .prod {
            display: block;
            /*background-color: #fbfbfb !important;*/
            /*border: 1px solid white;*/
            text-align: left !important;
        }

            .prod td {
                padding: 0px !important;
                padding-right: 10px !important;
                width: 10%;
            }




        /*.itemfilho {
            padding-left: 3em;
            padding-right: 0;
            padding-bottom: 6px;
        }*/

        /*.tdtabela {
                                            padding-left: 0;
                                            padding-right: 0;
                                            padding-bottom: 6px;
                                        }*/

        .tabelaProd {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

            .tabelaProd tbody {
                display: block;
                height: auto;
                max-height: 25ch;
                overflow: auto;
            }

            .tabelaProd tr {
                background-color: #fbfbfb;
                border: 1px solid #ddd;
                padding: 0.35em;
                line-height: 5ch;
            }

            .tabelaProd th,
            .tabelaProd td {
                padding: 0.625em;
                padding-left: 0.4em;
                padding-right: 0.4em;
                border: 1px solid white;
                border-spacing: 2px;
                /*width: 25% !important;*/
                /*white-space: nowrap;*/
                word-break: break-word;
            }

            .tabelaProd th {
                font-size: 0.85em;
                letter-spacing: 0.1em;
            }

        /*#footer {
                                    text-align: center;
                                    padding: 1em;
                                    flex-grow: 0;
                                    flex-shrink: 0;
                                }*/

        /*.preco {
            width: 10ch;
            text-align: right;
        }*/

        /*fim modal*/

        .caixa {
            display: inline-block;
            padding: 0.5em;
            padding-left: 0em;
        }

            .caixa .rotulo {
                display: inline;
                font-weight: bold;
                opacity: 0.9;
                padding-right: 0.5em;
            }

            .caixa .dado {
                display: inline;
                padding-right: 1.0em;
            }

        /*tabela corpo*/
        .destaquelinha :hover {
            background-color: #d1d1d1 !important;
        }

        .tabelaitens {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

            .tabelaitens tr {
                background-color: #fbfbfb;
                border: 1px solid #ddd;
                padding: 0.35em;
            }


            /*.tabelaitens th,
                                            .tabelaitens td {
                                                padding-left: 0.4em;
                                                padding-right: 0.4em;
                                            }*/

            .tabelaitens tbody td {
                white-space: initial;
                line-height: initial;
            }

        /*.tabelaitens th {
                                                font-size: 0.85em;
                                                letter-spacing: 0.1em;
                                            }*/

        /*thead tr*/
        .hquantidade {
            min-width: 6ch;
            width: 6ch;
            text-align: right;
        }

        .hpreco {
            min-width: 12ch;
            width: 12ch;
            text-align: right;
        }

        .hdesconto {
            min-width: 11ch;
            width: 11ch;
            text-align: right;
        }

        .quantidade {
            width: 6ch;
        }

        .desconto {
            width: 6ch;
            padding-right: 0 !important;
            white-space: nowrap;
        }

        /*.sectionDesktop .tabelaitens th,
                                .sectionDesktop .tabelaitens td {
                                    padding: 0.625em;
                                    padding-left: 0.4em;
                                    padding-right: 0.4em;
                                }*/

        .icone-lixeira {
            color: red;
        }

            .icone-lixeira:hover {
                background-color: #d1d1d1 !important;
                cursor: pointer;
            }

            .icone-lixeira:hover {
                background-color: #bdbdbd !important;
                cursor: pointer;
            }

        .avisoestoque, .avisoProduto {
            padding-left: 5em !important;
            color: red;
        }
    </style>*@
<script>
    requirejs(["Views/Pedido/IniciarNovoPedido"], function (util) {

    });


</script>
