@model Loja.UI.Models.Pedido.ObservacoesViewModel
@{
    ViewData["Title"] = "ObeservacoesPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Observações</h5>

<div class="col s12 sectionDesktop" style="margin-left:5%">
    @using (Html.BeginForm("CadastrarPedido", "Pedido", FormMethod.Post))
    {

        <article>
            <div class="row">
                <div class="col s12">
                    <span class="caixa">
                        <span class="rotulo">Cliente:</span>
                        <span class="dado" name="nome" id="nome">@Model.Cnpj_Cpf - @Model.NomeCliente</span>
                    </span>
                </div>
            </div>

            <div>
                <strong>Total do pedido: @Model.VlTotalPedido</strong>
            </div>
            <div>
                <br />
                <br />
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="observacoes" class="materialize-textarea" onkeyup="Contador()" name="Observacoes"
                              maxlength="500">@Model.Observacoes</textarea>
                    <label for="lblObservacoes">Textarea</label>
                    <span class="right" id="limiteCaracteres" style="font-size: x-small; color:rgba(0, 0, 0, 0.54);">
                        Limite de caracteres <span id="cont"></span> / 500
                    </span>
                </div>
            </div>
            <div class="row col s12">
                <div class="switch">
                    <label class="col s3" id="lblentregaImediata">
                        <input type="checkbox" id="entregaImediata" name="EntregaImediata" value="@Model.EntregaImediata">
                        <span class="lever"></span>
                        Entrega Imediata
                    </label>
                    <span style="color: red; padding: inherit; display:none" id="msgEntregaImediata" class="col s9">
                        Atenção: Informar a data de entrega no campo "Observações adicionais do Pedido"
                    </span>
                </div>
            </div>
            <div class="row col s12">
                <div class="switch">
                    <label class="col s4" id="lblBemDeUso">
                        <input type="checkbox" id="bemDeUso" name="BemConsumo" value="@Model.BemConsumo">
                        <span class="lever"></span>
                        Bem de uso/Consumo
                    </label>
                </div>
            </div>
            <div class="row col s12">
                <div class="switch">
                    <label class="col s3" id="lblInstaladorInstala">
                        <input type="checkbox" id="InstaladorInstala" name="InstaladorInstala" value="@Model.InstaladorInstala">
                        <span class="lever"></span>
                        Instalador Instala
                    </label>
                </div>
            </div>
        </article>

        <footer class="page-footer">
            <div class="row col s12">
                <div class="col s1"></div>
                <div class="input-field col s2">
                    <button class="waves-effect waves-light btn-small"
                            type="button"
                            style="margin-top:2%;">
                        <i class="material-icons left">arrow_back</i>Voltar
                    </button>
                </div>
                <div class="col s5"></div>
                <div class="input-field col s2">
                    <button class="waves-effect waves-light btn-small"
                            type="submit"
                            style="margin-top:2%;">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
            </div>
        </footer>
    }
</div>

<script>
    $(function () {
        //Entrega Imediata
        $("#lblentregaImediata").click(function () {
            if ($("#entregaImediata").prop("checked") == false) {
                $("#entregaImediata").val("1");
            }
            if ($("#entregaImediata").prop("checked") == true) {
                $("#entregaImediata").val("2");
            }
        });
        $("#entregaImediata").click(function () {
            if ($("#entregaImediata").prop("checked") == false) {
                $("#entregaImediata").val("1");
            }
            if ($("#entregaImediata").prop("checked") == true) {
                $("#entregaImediata").val("2");
            }
        });
        
        if ($("#entregaImediata").val() == "1") {
            $("#entregaImediata").prop("checked", false);
            $("#entregaImediata").val("1");

        }
        if($("#entregaImediata").val() == "2") {
            $("#entregaImediata").prop("checked", true);
            $("#entregaImediata").val("2");
        }
        //Bem de uso consumo
        $("#lblBemDeUso").click(function () {
            if ($("#bemDeUso").prop("checked") == false) {
                $("#bemDeUso").val("0");
            }
            if ($("#bemDeUso").prop("checked") == true) {
                $("#bemDeUso").val("1");
            }
        });
        $("#bemDeUso").click(function () {
            if ($("#bemDeUso").prop("checked") == false) {
                $("#bemDeUso").val("0");
            }
            if ($("#bemDeUso").prop("checked") == true) {
                $("#bemDeUso").val("1");
            }
        });
        //if ($("#bemDeUso").prop("checked") == false) {
        //    $("#bemDeUso").val("0");
        //}
        if ($("#bemDeUso").val() == "0") {
            $("#bemDeUso").prop("checked", false);
            $("#bemDeUso").val("0");
        }
        if ($("#bemDeUso").val() == "1"){
            $("#bemDeUso").prop("checked", true);
            $("#bemDeUso").val("1");
        }
        //Instalador Instala
        $("#lblInstaladorInstala").click(function () {
            if ($("#InstaladorInstala").prop("checked") == false) {
                $("#InstaladorInstala").val("1");
            }
            if ($("#InstaladorInstala").prop("checked") == true) {
                $("#InstaladorInstala").val("2");
            }
        });

        $("#InstaladorInstala").click(function () {
            if ($("#InstaladorInstala").prop("checked") == false) {
                $("#InstaladorInstala").val("1");
            }
            if ($("#InstaladorInstala").prop("checked") == true) {
                $("#InstaladorInstala").val("2");
            }
        });

        //if ($("#InstaladorInstala").prop("checked") == false) {
        //    $("#InstaladorInstala").val("1");
        //}

        if ($("#InstaladorInstala").val() == "1") {
            $("#InstaladorInstala").prop("checked", false);
            $("#InstaladorInstala").val("1");
        }
        if ($("#InstaladorInstala").val() == "2") {
            $("#InstaladorInstala").prop("checked", true);
            $("#InstaladorInstala").val("2");
        }

        if ($("#entregaImediata").prop("checked") == false) {
            $("#msgEntregaImediata").show()
        }

        $("#cont").text(0);
    });



    $("#entregaImediata").click(() => {
        if ($("#entregaImediata").prop("checked") == false)
            $("#msgEntregaImediata").show();
        if ($("#entregaImediata").prop("checked") == true)
            $("#msgEntregaImediata").hide();
    });

    function Contador() {
        var msgEntrega = $("#observacoes").val();
        $("#cont").text(msgEntrega.length);
        //$("#limiteCaracteres").text("Limite de caracteres "+ msgEntrega.length + " / 500");
    }
</script>
<style>
    .materialize-textarea {
        height: 10.5rem !important;
        min-height: 6rem !important;
        overflow: auto !important;
    }

    .caixa {
        display: inline-block;
        padding: 0.5em;
        padding-left: 0em;
    }

        .caixa .rotulo {
            display: inline;
            font-weight: bold;
            opacity: 0.9;
            padding-right: 0.5em;
        }

        .caixa .dado {
            display: inline;
            padding-right: 1.0em;
        }
</style>