@model Loja.UI.Models.Prepedido.PrepedidoIndexViewModel
@{
    ViewData["Title"] = "Lista de pré-pedidos";
}


@section ScriptsDiretos{
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>

    @*<link rel="stylesheet" type="text/css" href="~/lib/datatables-materialize/dataTables.materialize.css" />
        <script type="text/javascript" src="~/lib/datatables-materialize/dataTables.materialize.js"></script>*@
}

<partial name="~/Views/Shared/Datatables.cshtml" />

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="fa fa-search bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Consulta Pré Pedidos</h5>
                    <span>Consulta Pré Pedidos por loja </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Consulta Pré Pedidos</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content pb-0" style="min-height: 75vh;">
    <div class="main-body">
        <div class="page-wrapper pb-0">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card mb-0" style="min-height: 75vh;">
                            <div class="page-header card mb-4">
                                <div class="row col-xl-12 col-lg-12">

                                </div>
                                @if (Model.ResumoPrepedidoListaDto.Itens.Count < 1)
                                {
                                    <span>
                                        <br />
                                        <br />
                                        NENHUM PRÉ-PEDIDO.
                                    </span>
                                }
                                else
                                {
                                    <table id="tabeladados" style="display: none;" class="table-responsive-md table-responsive-sm">
                                        <thead>
                                            <tr>
                                                @if (Model.ListaLojasViewModel.MostrarLoja)
                                                {
                                                    <th>
                                                        Loja
                                                    </th>
                                                }
                                                <th>
                                                    Orçamentista
                                                </th>
                                                <th>
                                                    Pré-Pedido
                                                </th>
                                                <th>
                                                    Data
                                                </th>
                                                <th>
                                                    Cliente
                                                </th>
                                                <th class="right-align">
                                                    VL Total
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var c in Model.ResumoPrepedidoListaDto.Itens)
                                            {
                                                <tr>
                                                    @if (Model.ListaLojasViewModel.MostrarLoja)
                                                    {
                                                        <td>
                                                            @Model.ListaLojasViewModel.LojasDisponiveis.Where(r => r.Id == c.LojaId).FirstOrDefault()?.Nome
                                                        </td>
                                                    }
                                                    <td>
                                                        @c.Orcamentista
                                                    </td>
                                                    <td>
                                                        @c.Prepedido
                                                    </td>
                                                    <td>
                                                        @(c.Data?.ToShortDateString())
                                                    </td>
                                                    <td>
                                                        @c.Cliente
                                                    </td>
                                                    <td class="right-align">
                                                        @Loja.Bll.Util.Util.FormataMoeda(c.VlTotal)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    //as colunas são variáveis...
    var colunaMoeda = 5;
    var colunaData = 3;
    if (!Model.ListaLojasViewModel.MostrarLoja)
    {
        colunaMoeda--;
        colunaData--;
    }
}

<script>
    function carregouScript() {
        var tabeladados;
        $(document).ready(function () {
            tabeladados = intiDatatables('#tabeladados', {
                @* agrupamos por loja e Orçamentista, se forem exibidos *@
                @if (Model.ListaLojasViewModel.MostrarLoja)
                {
                    <text>
                    orderFixed: [[0, 'asc'], [1, 'asc']],
                    rowGroup: {
                        dataSrc: [0, 1],
                        startRender: function(rows, group) {
                            let row0 = rows.data()[0];
                            if (tabeladados)
                                rows = tabeladados.data().rows();
                            var total = rows
                                .data();
                            total = total.filter(function(row) {
                                //se agrupando pela loja, não testa o orçamentista
                                if (group == row0[0])
                                    return row[0] == row0[0];
                                return row[0] == row0[0] && row[1] == row0[1];
                            });
                            let totalRegistros = total.length;
                            total = total
                                .pluck(@colunaMoeda)
                                .reduce(function(a, b) {
                                return a + b.replace(/[^\d]/g, '') * 1;
                            }, 0);
                            total = total / 100;
                            total = window.formatarMoedaSemPrefixo(total);

                            return $('<tr/>')
                                .append('<td colspan=6>' + group + " (" + totalRegistros + " pré-pedidos, valor total: " + total + ')</td>');
                        }
                    },
                    </text>
                }
                columnDefs: [
                    { type: "databr", targets: @colunaData },
                    { type: "moeda", targets: @colunaMoeda }
                ]
            }
            );

            tabeladados.draw();
        });
    }
    requirejs(["Views/Prepedido/Index"], function (util) {
        carregouScript();
    });
</script>
